.toggle-activ{   
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #252525;
}

.cam{
  color: #D3D3D3;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  
}

.sucursal-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #242424;    
}

.salir{
    border: 1px solid gainsboro;
    padding: 2px;
    border-radius: 100%;
}

.titu{  
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
color: #242424;

}

.btncancelar{
  color: #252424;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #B6BBC8;
  font-family: Poppins;
  }

  .btnguardar{
    color:white;
    background-color: #B6BBC8;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    font-family: Poppins;
    }

.estabfec{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #242424;
}

.subttl{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 21px;
display: flex;
align-items: center;
color: #7B7D8A;

}

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
}


.text-label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #333333;
}

.option-ch{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;    
     color: #000000;
}



.overlay-scrollbar::-webkit-scrollbar {
    width: 6px;
    height:6px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2A3E4B;
    border-radius: 10rem;
    /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: #E7EFF3;
    border-radius: 10rem;
}

.guardar {
    width: 120px;
    height: 40px;
    background: #6E40D6;
    box-shadow: 0px 1px 8px rgb(109, 64, 214);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
  
  }
  
  .cancelar {
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 0.6px solid #b8bcc6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #263b50;
    transition-duration: 2s;
    transition-property: background-color;
  }
  
  
  .btn-new {
    width: 120px;
    height: 40px;
    background: #6E40D6;
    box-shadow: 0px 1px 8px rgb(109, 64, 214);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
    box-shadow: 0px 1px 1px rgba(20, 146, 237, 0.61);
  }

  .search{
    position: absolute;
    padding-left: 16px;
    display: flex;
    top: 12px;
  }
  
  .search-imput{
    display: flex;
    padding-left: 44px;
    font-family: Poppins;
    font-size: 13px;
    border: 0.7px solid #d6d6d6;
    box-sizing: border-box;
    border-radius: 4px;
    color: #252525;
    width: 100%;
    font-weight: 500;
    height: 40px;
 
  }

  .search-imput::placeholder{
    color: #bebebe;
  }


  
  table {
    width: 100%;
    font-family: Poppins;
  }
  
  .example-table-container {
    position: relative;
    max-height: 30vh;
    overflow: auto;
    padding: 0 10px;
  }
  
  .example-container {
    max-height: 65vh;
    overflow-y: auto;
  }
  
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 6px 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  
  th.mat-header-cell[_ngcontent-gfx-c127],
  td.mat-cell[_ngcontent-gfx-c127],
  td.mat-footer-cell[_ngcontent-gfx-c127] {
    padding: 0 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 0.77rem;
    font-family: poppis;
  }
  
  mat-row,
  mat-header-row,
  mat-footer-row,
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-bottom-color: rgba(235, 235, 235, 0.822);
    font-size: 0.75rem;
    color: #575757;
  }
  
  .descrip {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #252525;
  }
  
  .italic {
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #8c8c8c;
  }

  .colrs mat-icon {
    color: #ea4747 !important;   
  }

  .titles {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #a0a6b4 !important;
  }
  

  .w-{
      font-size: 5px;
      width:  10px;
      height: 10px;
  }

  .mat-button {
    width: 40px;
    height: 40px;
    background: #ffffff;    
    border-radius: 100px;
    font-family: Poppins;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    object-fit: cover;   
  }

  .autocompletado-modal-flotante {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    max-height: 300px;
    background: #fafafa;
    box-shadow: 2px 2px 5px #999;
    border-radius: 1em;
    overflow: auto;
    z-index: 1000;
  }


  .mat-button:hover{
    background: #ffffff;  
  }



 /* cambiar color  a cxhecbokx*/

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #59ed14 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #2ded14 !important;
}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #14ed6e !important;
}



/* cambiar color  a swick */

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(29, 229, 39, 0.397);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(29, 229, 29);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
  background-color: rgba(29, 229, 62, 0.2);
}
 