<app-laoding></app-laoding>
<main class="fixed inset-0 overflow-hidden z-50 ">
  <div
    class="absolute inset-y-0 right-0 max-w-full lg:max-w-lg  p-1 bg-white flex transition duration-500 ease-in z-50 2xl:w-[60vh] xl:w-[70] lg:w-[60vh] md:w-[70vh] w-full ">
    <div class="relative w-full h-full overflow-y-auto overlay-scrollbar z-50">
      <div class="flex sticky bg-gray-50  items-center w-full  top-0  px-3 justify-between py-2" style="z-index: 1000;">
        <span class="sucursal-title">{{ body.edit ? 'Editar' : 'Nueva'}} Habitación</span>
        <button (click)="closeFrm()" class="salir">
          <svg-icon src="assets/svg/close.svg"></svg-icon>
        </button>
      </div>
      <div class="px-8">
        <section class="border-b-1 border-gray-200 py-3 ">
          <div class="flex space-x-2 items-center">
            <svg-icon src="assets/svg/puertita.svg"> </svg-icon>
            <div class="flex flex-col ml-3">
              <span class="titu">Llenado de datos</span>
              <span class="subttl">Complete los siguientes campos.</span>
            </div>
          </div>
        </section>

        <form [formGroup]="form" (ngSubmit)="saveBedroom()" class=" ">
          <div class="ml-8  ">
            <!-- Cátegoria -->
            <div class=" w-full sm:mb-1">
              <div class="flex justify-between">
                <label class="text-label">Cátegoria</label>
                <button (click)="onOpenCategory()" type="button" class="text-morado-550 font-grande"> + Agregar</button>
              </div>
              <div>
                <mat-select placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 uppercase"
                  [class.error]="idcategoriaInvalid" required formControlName="idcategoria">
                  <mat-option *ngFor="let item of listCategory" [value]="item.idcategoriahabitacion" class="option-ch">
                    {{item.categoria}}</mat-option>
                </mat-select>
              </div>
              <span *ngIf="idcategoriaInvalid" class="errors"> Por favor rellene este campo. </span>
            </div>

            <!-- Tipo de Habitacion -->
            <div class=" w-full sm:mb-1">
              <div class="flex justify-between">
                <label class="text-label">Tipo de Habitación</label>
                <button (click)="onOpenType()" type="button" class="text-morado-550 font-grande"> + Agregar</button>
              </div>
              <div>
                <mat-select placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 uppercase"
                  [class.error]="idtipohabitacionInvalid" required formControlName="idtipohabitacion">
                  <mat-option *ngFor="let item of listType" [value]="item.idtipohabitacion" class="option-ch">
                    {{item.tipohabitacion}}</mat-option>
                </mat-select>
              </div>
              <span *ngIf="idtipohabitacionInvalid" class="errors"> Por favor rellene este campo. </span>
            </div>

            <!-- Numeracion -->
            <div class=" w-full sm:mb-1">
              <label class="text-label">Numeración</label>
              <div>
                <input type="number" class="py-2 seclect w-full uppercase" placeholder="Escribe"
                  [class.error]="numeracionInvalid" required formControlName="numeracion"
                  (keypress)="sfn.onlyNumberAllowed($event, 9)">
              </div>
              <span *ngIf="numeracionInvalid" class="errors"> Por favor rellene este campo. </span>
            </div>

            <!-- Nivel -->
            <div class=" w-full sm:mb-1">
              <div class="flex justify-between">
                <label class="text-label">Nivel</label>
              </div>
              <div>
                <mat-select placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 uppercase"
                  [class.error]="nivelInvalid" required formControlName="nivel">
                  <mat-option [value]="1" class="option-ch">1er</mat-option>
                  <mat-option [value]="2" class="option-ch">2er</mat-option>
                  <mat-option [value]="3" class="option-ch">3er</mat-option>
                </mat-select>
              </div>
              <span *ngIf="nivelInvalid" class="errors"> Por favor rellene este campo. </span>
            </div>

            <!-- Etiqueta informativa -->
            <!-- <div class=" w-full sm:mb-1">
              <label class="text-label">Etiqueta informativa</label>
              <div>
                <input type="text" class="py-2 seclect w-full" placeholder="Escriba" formControlName="etiqueta">
              </div>
            </div> -->

            <!--  Etiqueta informativa-->
            <div class=" w-full sm:mb-2">
              <label class="text-label pb-1">Etiqueta informativa</label>
              <div class="seclect disabled  py-2 px-3">
                <mat-chip-list #chipList>
                  <mat-chip class="disabled" *ngFor="let etiqueta of listEtiqueta; index as i" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(i)">
                    {{ etiqueta }}
                    <mat-icon matChipRemove class="chis-btn" *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input type="text" placeholder="Escriba"
                    class="py-1 text-xs font-Poppins border-none bg-transparent focus:outline-none"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" #phone>
                </mat-chip-list>
              </div>
              <!-- <span *ngIf="telefonoInvalid(phone.value)" class="errors"> Por favor rellene este campo. </span> -->
            </div>
            <!-- Camas Extras -->
            <div class="flex justify-between w-full pt-4">
              <div class="flex flex-col ">
                <span class="titu">Camas Extras</span>
                <span class="subttl">Active la opción e ingrese la cantidad maxima.</span>
              </div>

              <div class="py-2">
                <mat-slide-toggle (change)="changeMasCamas()" formControlName="masCamas"><span class="toggle-activ">
                  </span></mat-slide-toggle>
              </div>
            </div>

            <!-- maximo camas -->
            <div class=" w-full sm:mb-1 pt-2">
              <label class="cam">Máximo de camas</label>
              <fieldset [disabled]="!form.value.masCamas">
                <input type="number" class="py-2 seclect w-full disabled" [class.error]="camasextrasInvalid"
                  placeholder="Escribe" formControlName="camasextras" (keypress)="sfn.onlyNumberAllowed($event, 9)">
              </fieldset>
              <span *ngIf="camasextrasInvalid" class="errors"> Por favor rellene este campo. </span>
            </div>
          </div>
          <div class="w-full flex justify-end">
            <div class="btncg py-7 flex gap-3    ">
              <button (click)="closeFrm()" type="button" class="btncancelar">Cancelar</button>
              <button type="submit" class="guardar">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="absolute  inset-0 bg-gray-500 bg-opacity-75 transition-opacity" style="z-index: 3;" aria-hidden="true">
  </div>
</main>