@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");

/*------------------------------------------------------- imputs y texttarea de color de la empresa */
textarea:focus,
textarea[type]:focus,
input:focus,
input[type]:focus {
    border-color: #6E40D6;
    box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(110, 64, 214, 1);
    outline: 0 none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Eliminar el spiket de los tipos number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contlogin{
  align-items: center;
  font-family: 'Poppins';
  background-color: '#F5F6FA';
  height: 100vh;
}

.contcabezera{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  justify-content: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  height: 10vh;
}

@media (min-width: 640px) {.contcabezera{justify-content: space-between;}}

.contlogo{
  display: flex;
  justify-content: center;

}

@media (min-width: 768px) {.contlogo{justify-content:start;}}

.logo{
  object-fit: contain;
  justify-content: start;

}

.contbtninnova{
  overflow: hidden;
  justify-content: center;
}

@media (min-width: 640px) {.contbtninnova{display: flex; justify-content: start;}}

.btninnova{
  font-weight: 600;
  font-size: 9px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #6E40D6;
  border: 1.98px solid #6E40D6;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  text-align: center;
  object-fit: contain;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-width: 2px;
  border-width: 2px;
  border-color: #6E40D6;
  border-radius: 0.375rem;
}

.btninnova:hover{
 background-color: #FCF4FF;
}

@media (min-width: 640px)  {.btninnova{ display: flex; justify-content: start; font-size: 14px; }}

@media (min-width: 1024px) {.btninnova{ padding-left: 1.75rem; padding-right: 1.75rem; padding-top: 0.5rem; padding-bottom: 0.5rem; }}

@media (min-width: 1536px) {.btninnova{ padding-left: 2.5rem; padding-right: 2.5rem; }}

.contcuerpo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  --tw-space-y-reverse: 0;
  margin-top: calc(-0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(-0.5rem * var(--tw-space-y-reverse));
  flex-direction: column;
  margin-top: 1.25rem;
  justify-content: space-between ;
  align-items: center;
  /* height: 100%;
  width: 100%; */

}

@media (min-width: 767px) {.contcuerpo{ height: 80vh; flex-direction: row; }}

@media (min-width: 1024px) {.contcuerpo{  margin-top: 0.25rem; padding-top: 0rem;  }}

@media (min-width: 1536px) {.contcuerpo{  margin-top: 0rem; }}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 5rem;
  height: 10vh;
}

@media (min-width: 1024px) {.footer{margin-top: 3rem;}}

@media (min-width: 1536px) {.footer{margin-top: 0;}}












