<app-laoding></app-laoding>
<div class="contlogin relative">

  <!-- head - cabezera -->
  <div class="contcabezera container">
      <div class="contlogo">
          <img class="logo " src="assets/img/login/login.svg" alt="">
      </div>
      <div class="contbtninnova">
          <a href="https://innovated.pe/#/home" target="_blank" class="btninnova"> Ir a Innovated </a>
      </div>
  </div>
  <!-- body - cuerpo -->
  <div class="contcuerpo container">
      <!-- imagenes wordl -->
     <div class="2xl:w-8/12  lg:w-7/12 w-full flex justify-center">
         <img class="object-contain 2xl:w-4/6 xl:w-5/6 md:w-5/6 w-4/6 " src="assets/img/login/world.svg" alt="">
     </div>
     <!-- formulario -->
      <section class="2xl:w-4/12  lg:w-5/12 w-full 2xl:px-12 lg:px-14 px-3">
        <div class="rounded-md 2xl:pr-0  bg-white shadow-2xl border-8 border-plomo-100 lg:pb-16 lg:pt-14 pb-6 pt-2">
           <div class="flex justify-start font-grande text-xl text-oscuro-600 text-azul-800 px-5 pt-5 2xl:py-3 2xl:px-10 xl:px-12 w-full py-2"><img src="assets/img/login/mano.svg" alt=""></div>
            <p class="flex justify-start font-grande lg:text-xl text-sm msg-bienvenido text-oscuro-600 text-azul-800 px-5 pt-5 2xl:py-3 2xl:px-10 xl:px-12 w-full ">Hola, <br> Bienvenido a WorldTED</p>
            <form [formGroup]="form" (ngSubmit)="login()"  class=" space-y-4 2xl:py-3 2xl:px-10 xl:px-10 w-full py-2 px-5  ">
              <!-- N° Ruc -->
              <div class="relative  w-full focus-within:text-gray-600 text-gray-400">
                  <input type="text"
                        class=" uppercase left-0 flex pr-4  py-3 text-sm border-1 placeholder-plomo-210 focus:ring-gray-500 rounded-sm focus:border-azul-800 w-full  border-plomo-200  focus:outline-none shadow text-gray-600"
                        [class.error]="userInvalid"
                        placeholder="Usuario"
                        required formControlName="usuario"
                        id="userLogin"
                        (keypress)="sfn.lenghtValue($event, 15)"
                        (keydown.enter)="$event.preventDefault()"
                        (keydown.enter)="sfn.onFocus('passLogin')"
                        >
                  <div class="absolute top-4 pl-3 right-3 flex"> <svg-icon src="assets/img/login/user.svg"></svg-icon> </div>
                  <small *ngIf="userInvalid" class=" invalid animated fadeIn"> <svg-icon class="w-5 h-5 mr-1"  src="assets/svg/alertas.svg"></svg-icon>
                    Campo requerido!
                  </small>
              </div>
              <!-- Codigo de Acceso -->
              <div class="relative  w-full focus-within:text-gray-600 text-gray-400">
                  <input  
                          class="left-0 flex pr-4  py-3 text-sm border-1 placeholder-plomo-210 focus:ring-gray-500 rounded-sm focus:border-azul-500 w-full  border-plomo-200  focus:outline-none shadow text-gray-600"
                          [class.error]="passInvalid"
                          placeholder="Contraseña"
                          required
                          formControlName="password"
                          id="passLogin"
                          (keypress)="sfn.lenghtValue($event, 35)"
                          [type]="hide ? 'password' : 'text'"
                          >
                          
                        <div class="absolute top-4 pl-3 right-3 flex">
                          <div class="-mt-3 -mr-2">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon class=""> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>  
                          </div>
                          
                        </div>
                  <small *ngIf="passInvalid" class=" invalid animated fadeIn"> <svg-icon class="w-4 h-4 mr-1"  src="assets/svg/alertas.svg"></svg-icon>
                    Campo requerido!
                  </small>
              </div>
              <!-- Boton ingresar -->
              <div class="flex items-center pt-1 xl:pt-9">
                  <button type="submit" class="bg-morado-500 text-white hover:bg-indigo-800  text-sm focus:outline-none w-full px-5 py-3 rounded flex  items-center">
                      <span class="flex justify-center w-11/12 text-sm font-grande">Iniciar Sesión</span>
                  </button>
              </div>
            </form>
        </div>
      </section>
  </div>

  <!-- foot - pie -->
  <div class="relative footer">
    <footer class="  w-full absolute bottom-0 ">
      <svg class="w-full h-full " viewBox="0 0 1440 69" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.1" fill-rule="evenodd" clip-rule="evenodd" d="M0 7.17345L48 14.9018C96 22.6301 192 38.0867 288 38.0867C384 38.0867 480 22.6301 576 12.3257C672 2.02124 768 -3.13097 864 2.02124C960 7.17345 1056 22.6301 1152 30.3584C1248 38.0867 1344 38.0867 1392 38.0867H1440V69H1392C1344 69 1248 69 1152 69C1056 69 960 69 864 69C768 69 672 69 576 69C480 69 384 69 288 69C192 69 96 69 48 69H0V7.17345Z" fill="#6E40D6"/>
      </svg>
    </footer>
    <p class="w-full absolute lg:bottom-4 bottom-0  text-azul-300 font-grande flex justify-center  text-center  text-sm">© {{ year }} Innovated. Todos los derechos reservados.</p>
  </div>


</div>
