.mat-snack-bar-container {
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 24px;
    max-width: 33vw;
    min-width: 344px;
    padding: 14px 16px;
    min-height: 28px;
    transform-origin: center;
    font-family: Poppins, sans-serif;
}


.mat-snack-bar-container {
    color: rgba(255,255,255,.7);
    background: #0d53fd;   
    border-radius: 3px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    font-family: Poppins, sans-serif;
}