.flex-j {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .close {
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 100%;
  }
  
  .descripcions {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #242424;
  }

  .bb{
    border-bottom: 1px solid rgba(245, 243, 243, 0.699);
  }
  
  .flex-{
    display: flex;
    align-items: center;
  }
  
  .desc-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12.5px;
    line-height: 25px;
    display: flex;
    color: #1C1C1D;
    width: 100%;
  }
  
  
  .desc-subti{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    color: #878788;
  }


  
.guardar {
    width: 120px;
    height: 39px;
    background: #192332;
    box-shadow: 0px 1px 1px rgb(25, 35, 50);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;   
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
    box-shadow: 0px 2px 5px  rgb(25, 35, 50);
  }

  .guardar:hover{
    background: #192332;
  }
  
  .cancelar {
    width: 120px;
    height: 39px;
    background: #ffffff;
    border: 0.6px solid #b8bcc6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #263b50;
    transition-duration: 2s;
    transition-property: background-color;
  }

  .text-label{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #333333;
}

.seclect {
    background: #FFFFFF;
    border: 0.7px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
}


.overlay-scrollbar::-webkit-scrollbar {
  width: 6px;
  height:6px;
}

.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2A3E4B;
  border-radius: 10rem;
  /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: #E7EFF3;
  border-radius: 10rem;
}

.option-ch{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;    
   color: #000000;
}