<header class="flex-j w-full bb pb-2">
    <span class="descripcions">{{ body.edit ? 'Editar' : 'Nuevo'}} Tipo</span>
    <button matDialogClose >
        <svg-icon  src="assets/svg/cerrar.svg"></svg-icon>
    </button>
</header>
<form [formGroup]="form" (ngSubmit)="saveTypeBedroom()" class="w-auto">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-2">
        <div class="col-span-1 sm:mb-1 py-4">
            <label class="text-label pb-1">Nombre</label>
            <input type="text"
                    class="py-2 seclect w-full" 
                    [class.error]="tipoInvalid"
                    placeholder="Escribe un nombre"
                    required
                    formControlName="tipohabitacion"
                    (keypress)="sfn.lenghtValue($event, 25)"
                    >
                    <small *ngIf="tipoInvalid"  class="invalid animated fadeIn">
                        <svg-icon class="w-4 h-4 mr-1"  src="assets/svg/alertas.svg"></svg-icon>
                        Campo no válido ! 
                    </small>
        </div>
        <div class="col-span-1 sm:mb-1 py-4">
            <label class="text-label pb-1">Capacidad</label>
            <input  type="text"
                    class="py-2 seclect w-full uppercase"
                    [class.error]="personasInvalid"
                    placeholder="0.00"
                    required
                    formControlName="personas"
                    (keypress)="sfn.onlyNumberAllowed($event, 2)"
                    >
                    <small *ngIf="personasInvalid"  class="invalid animated fadeIn">
                        <svg-icon class="w-4 h-4 mr-1"  src="assets/svg/alertas.svg"></svg-icon>
                        Campo no válido ! 
                    </small>
        </div>
    </div>
    <div class="flex justify-center space-x-4 sm:justify-end py-3">
        <!-- CANCELAR -->
        <button matDialogClose type="button" class="cancelar">
            <span class="ml-1">Cancelar</span>
        </button>
        <!-- GUARDAR -->
        <button type="submit" class="guardar">
            <span class="ml-1"> Guardar</span>
        </button>
    </div>
</form>