.btn-new {
  width: 65px;
  height: 40px;
  background: #6E40D6;
  box-shadow: 0px 1px 8px rgb(109, 64, 214);
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  transition-duration: 2s;
  transition-property: background-color;
  box-shadow: 0px 1px 8px rgba(109, 64, 214, 0.863);
}

.btnnewpropi{
  padding-left: 1rem;
  padding-right: 1rem;
  height: 40px;
  background: #6E40D6;
  box-shadow: 0px 1px 8px rgb(109, 64, 214);
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  transition-duration: 2s;
  transition-property: background-color;
  box-shadow: 0px 1px 8px rgba(109, 64, 214, 0.863);
}

.contico{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 3.4rem;
  width: 3.4rem;
}

@media (min-width: 640px) { 
  .btn-new {
    width: 70px;
    height: 40px;
    background: #6E40D6;
    box-shadow: 0px 1px 8px rgb(109, 64, 214);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
    box-shadow: 0px 1px 8px rgba(109, 64, 214, 0.863);
  }
 }

 @media (min-width: 1024px){
  .btn-new {
    width: 120px;
    height: 40px;
    background: #6E40D6;
    box-shadow: 0px 1px 8px rgb(109, 64, 214);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
    box-shadow: 0px 1px 8px rgba(109, 64, 214, 0.863);
  }
 }

.nume{
  color: #8C8C8C;
  font-size: 12px;
  font-weight: 300;
}

/* .act{
  color: #2FC974;
  background-color: #2FC974 ;
  --tw-bg-opacity: 0.1;
} */

.btn-filtrar {
  width: 120px;
  height: 40px;
  background: #ffffff;
  border: 0.6px solid #b8bcc6;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #263b50;
  transition-duration: 2s;
  transition-property: background-color;
}

.pers {
  background: #6E40D6;
  box-shadow: 0px 1px 5px rgb(109, 64, 214);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.pers-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  color: #4f4e4e;
}

.operat {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #212731;
}

table {
  width: 100%;
  font-family: Poppins;
}

.example-table-container {
  position: relative;
  max-height: 30vh;
  overflow: auto;
  padding: 0 10px;
}

.example-container {
  max-height: 65vh;
  overflow-y: auto;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 10px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell[_ngcontent-gfx-c127],
td.mat-cell[_ngcontent-gfx-c127],
td.mat-footer-cell[_ngcontent-gfx-c127] {
  padding: 0 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 0.77rem;
  font-family: poppis;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: rgba(235, 235, 235, 0.822);
  font-size: 0.77rem;
  color: #575757;
  font-weight: 600;
}

.descrip {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #252525;
}

.italic {
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: #8c8c8c;
}

.colssr {
  color: #b6bbc8;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.estado{
  width: 96px;
  height: 27px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 14px;
}

.btn-opcion {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px !important;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #575757;
}

.titupropi{
  color:#99A0B0;
  font-weight: 400;
}

.colrs {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px !important;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ea4747 !important;
}
.colrs mat-icon {
  color: #ea4747 !important;
}

.mat-menu-item[_ngcontent-xre-c317] .mat-icon[_ngcontent-xre-c317] {
  margin-right: 0px;
  vertical-align: middle;
}

.mat-menu-item .mat-icon {
  margin-right: 0px;
  vertical-align: middle;
}

.titles {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a0a6b4 !important;
}

.overlay-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2A3E4B;
  border-radius: 10rem;
  /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: #E7EFF3;
  border-radius: 10rem;
}


.animaciondederechaizquierda {
  animation-duration: 1s;
  animation-name: abre;
  position: absolute;
}

@keyframes abre {

  from {
      margin-left: 100%;
      width: 100%;   
  }
  to {
      margin-left: 0%;
      width: 100%;
  } 
}

.animaciondeizquierdaderecha{
  animation-duration: 1s;
  animation-name: cierra;
  position: absolute;
}

@keyframes cierra {

  from {
      margin-left: 0%;
      width: 100%;
  }
  to {
      margin-left: 100%;
      width: 100%;
  } 
} 



.titu{  
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #242424;
}

.subttl{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #707581;
}

.selectvendedor {
  display: none;
}

.listado{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Necesaruos para el TAB de los vendedores */
.listado .pedido {
  display: flex;
  height: 100% ;
  width: 500%;
}

.listado .pedido section {
  width:20%;
  align-items: center;
  justify-content: space-around;
  transition: width 2s, height 4s;
}


#vende1:checked ~ .inic .listado .pedido > section:nth-child(1){
  margin-left: 0% ;
}
#vende2:checked ~ .inic .listado .pedido > section:nth-child(1){
  margin-left: -20% ;
  
}
#vende3:checked ~ .inic .listado .pedido > section:nth-child(1){
  margin-left: -40% ;
  
}
#vende4:checked ~ .inic .listado .pedido > section:nth-child(1){
  margin-left: -60% ;
}

.inic .autores .vendedores >  div > label{
  color:#242424;
  font-weight: 400;
  font-family: 'Poppins';
}


#vende1:checked ~ .inic .autores .vendedores >  div > label:nth-child(1),
#vende2:checked ~ .inic .autores .vendedores >  div > label:nth-child(2),
#vende3:checked ~ .inic .autores .vendedores >  div > label:nth-child(3),
#vende4:checked ~ .inic .autores .vendedores >  div > label:nth-child(4){
    color:var(--color);
    font-weight: bold;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(255, 255, 255);
    border-left: 4px solid #6E40D6;
    color: #6E40D6;
    border-radius: 10%;
    width: 5rem;
    padding-right: 14rem;
    font-weight: 600;
    font-family: 'Poppins';
}

.titunew{
  font-size: 13px;
}


.sucursal-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #242424;
}


.salir {
  border: 1px solid gainsboro;
  padding: 2px;
  border-radius: 100%;
}




.mat-button {
  width: 30px;
  height: 30px;
  background: #ffffff;    
  border-radius: 100px;
  font-family: Poppins;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; 
  object-fit: cover;   
  
}
.mat-button:hover{
  background: #ffffff;  
} 

.sucrusal-subttl {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #7b7d8a;
  font-weight: 500;
}

.sucursal-titless{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;

  letter-spacing: 0.1em;
text-transform: uppercase;

color: #99A0B0;
}

.tabs {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12.5px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #242424;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 1s;
}

.tabs.tabs-active {
  color: #6E40D6;
  background: #d0e8fa13;
  transition: 1s;

}

.tabs.tabs-active:before {
  content: "";
  position: absolute;
  width: 1%;
  height: 100%;
  left: 0;
  background: #6E40D6;
  color: #6E40D6;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;

}







