<app-laoding></app-laoding>
<main class="py-3 px-3 sm:px-8">
    <section
      class="section-p flex-col flex sm:flex-row items-center sm:justify-between border-b-1 border-gray-300 space-y-2 py-3 ">
      <!-- <div class="hidden sm:flex items-center w-full">
        <div class="pers">
          <svg-icon class="w-6 h-5 text-white" src="assets/svg/icotalo.svg"> </svg-icon>
        </div>
        <span class="operat ml-2 sm:ml-3 animate__animated animate__fadeIn">Talonario</span>
      </div> -->

      <div class="hidden sm:flex items-center w-full">
        <div class="pers">
          <svg-icon class="w-6 h-5 text-white" src="assets/svg/icohabita.svg"> </svg-icon>
        </div>
        <span class="operat ml-2 sm:ml-3 animate__animated animate__fadeIn">Habitaciones</span>
      </div>

      <div class="flex items-center w-full justify-end  space-x-5">

        <!--cargo-->
        <input class="hidden" type="text" id="propi">
        <label for="propi" (click)="abrirpropiedades = true"  class="btn-filtrar h-full px-5 cursor-pointer" >
          <svg-icon class="w-6 h-6 items-center flex" src="assets/svg/propi.svg"></svg-icon>
          <span class="ml-1">Propiedades</span>
        </label>
        <!-- nuevo -->

        <button  (click)="editBedroom(false)" class="btn-new">
          <svg-icon src="assets/svg/mas.svg"></svg-icon>
          <span class="ml-2">Nuevo</span>
        </button>
      </div>

    </section>

    <div class="example-container overlay-scrollbar overscroll-x-auto mt-2">
      <table mat-table [dataSource]="dataSourceBedrom">

        <!-- Tipo -->
        <ng-container matColumnDef="tipnum">
          <th mat-header-cell *matHeaderCellDef class="titles "> Tipo / Numeración </th>
          <td mat-cell *matCellDef="let element">
            <span class="descrip">{{element.tipo}}</span>
            <span class="nume">{{element.numeracion}}</span>
          </td>
        </ng-container>

        <!-- Cátegoria -->
        <ng-container matColumnDef="cate">
          <th mat-header-cell *matHeaderCellDef class="titles"> Cátegoria </th>
          <td mat-cell *matCellDef="let element">
            <span class="descrip flex "> {{element.categoria}} </span>
          </td>
        </ng-container>

        <!-- Nivel -->
        <ng-container matColumnDef="niv">
          <th mat-header-cell *matHeaderCellDef class="titles"> Nivel </th>
          <td mat-cell *matCellDef="let element" class="">
            <span class="descrip "> {{element.nivel}} Nivel </span>
          </td>
        </ng-container>

        <!-- Etiqueta -->
        <ng-container matColumnDef="eti">
          <th mat-header-cell *matHeaderCellDef class="titles"> Etiqueta Informativa </th>
          <td mat-cell *matCellDef="let element" class="">
            <span class="descrip flex gap-3 ">
              <div *ngFor="let item of element.etiqueta.split(',')" class="rounded-2xl px-3 py-1 bg-gray-100 text-black whitespace-nowrap">{{item}}</div>
            </span>
          </td>
        </ng-container>

        <!-- Precio Regular -->
        <ng-container matColumnDef="pre">
          <th mat-header-cell *matHeaderCellDef class="titles"> Precio Regular </th>
          <td mat-cell *matCellDef="let element" class="">
            <span class="descrip "> S/ {{element.precioregular}} </span>
          </td>
        </ng-container>

        <!-- Capacidad -->
        <ng-container matColumnDef="cap">
          <th mat-header-cell *matHeaderCellDef class="titles"> Capacidad </th>
          <td mat-cell *matCellDef="let element" class="">
            <span class="descrip "> {{element.capacidad}} personas </span>
          </td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="est">
          <th mat-header-cell *matHeaderCellDef class="titles"> Estado </th>
          <td mat-cell *matCellDef="let element" class="">
            <!-- Activo -->
            <span class="descrip">
              <div [ngClass]="{'text-rojo-500 bg-rojo-500': element.mantenimiento,
                               'text-verde-500 bg-verde-500': element.estado=='ACTIVO',
                               'text-naranja-500 bg-naranja-500': element.estado=='INACTIVO'}"
                    class=" rounded-xl px-3 py-1 bg-opacity-10 ">
                {{element.mantenimiento ? 'MANTENIMIENTO' : element.estado}}
              </div>
            </span>
          </td>
        </ng-container>

        <!-- opciones-->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef class="titles"> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

              <button (click)="editBedroom(true, element)"  type="button" mat-menu-item class="btn-opcion">
                <mat-icon> border_color</mat-icon>
                <span>Editar Habitación</span>
              </button>
              <!-- Desactivar -->
              <button (click)="activeBedroom(element)"   type="button" mat-menu-item class="btn-opcion">
                <mat-icon *ngIf="element.estado !== 'ACTIVO'">flash_on</mat-icon>
                <mat-icon *ngIf="element.estado === 'ACTIVO'">flash_off</mat-icon>
                <span>{{ element.estado === 'ACTIVO' ? 'Desactivar' : 'Activar' }} Habitación</span>
              </button>
              <!-- Activar -->
              <!-- <button   type="button" mat-menu-item class="btn-opcion">
                <mat-icon>flash_on</mat-icon>
                <span>Activar Habitación</span>
              </button> -->
              <!-- Eliminar -->
              <button (click)="deleteBedroom(element)"  type="button" mat-menu-item class="colrs">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsBedrom" class="sticky top-0 z-20 border-b-1 border-gray-700"></tr>
        <tr mat-row *matRowDef="let row ; columns: columnsBedrom;"></tr>
      </table>
    </div>

    <div [ngClass]="{'hidden': !showPageGeneral }">
      <mat-paginator #pageGeneral="matPaginator" [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons> </mat-paginator>
    </div>
  </main>

  <!-- new habitaciones -->
  <app-new-bedrooms *ngIf="openHabitacion" [body]="body" (closeForm)='openHabitacion = $event' (responseok)="getBedroom()"></app-new-bedrooms>

  <style>
    .dropdown:focus-within .dropdown-menu {
      opacity: 1;
      transform: translate(0) scale(1);
      visibility: visible;
    }
  </style>



<main *ngIf="abrirpropiedades"  class="fixed inset-0 overflow-hidden z-50">
  <div   class="absolute inset-y-0 right-0 max-w-full   xl:w-[88%]   lg:w-[100%]       bg-white flex transition duration-500 ease-in z-50" >
    <div class="relative w-full h-full overflow-y-auto overlay-scrollbar "  style="z-index: 1000;">
      <div class="flex items-center w-full sticky top-0 bg-gray-50 px-3 justify-between py-2">
        <div class="flex flex-col pr-5">
            <span class="sucursal-title">Propiedades</span>
            <span class="sucrusal-subttl">En esta sección podrá actualizar los datos de sus habitaciones.</span>
          </div>
          <!-- close -->
          <button (click)="abrirpropiedades = false"  class="salir">
            <svg-icon src="assets/svg/close.svg"></svg-icon>
          </button>
      </div>
      <div class="  flex flex-col sm:flex-row gap-4 border-t border-gray-200">      
         <section class="w-[100%] md:w-[16%] h-full relative">
            <ul class="flex flex-col whitespace-nowrap  space-y-2 py-4 ">
                <li>
                  <a class="text-xs px-5  py-2  tabs" (click)="toggleTabs(1)"  
                   [ngClass]="{'tabs-ina': openTab !== 1, 'tabs-active': openTab === 1}">
                    Cátegoria
                  </a>
                </li>
                <li>
                  <a class="text-xs px-5 py-2 tabs" (click)="toggleTabs(2)" 
                   [ngClass]="{'tabs-ina': openTab !== 2, 'tabs-active': openTab === 2}">
                    Tipo de Habitación
                  </a>
                </li>           
                <li>
                  <a class="text-xs px-5 py-2 tabs" (click)="toggleTabs(3)" 
                   [ngClass]="{'tabs-ina': openTab !== 3, 'tabs-active': openTab === 3}">
                    Servicios
                  </a>
                </li>             
            </ul> 
         
        </section>
         <section class=" w-[100%]  md:w-[84%] border-l border-gray-200  px-4">           

                <!-- LISTADO: CATEGORIA -->
                <section [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}" class="lg:px-9 px-2 pt-4">
                  <div class="flex gap-1 justify-between h-10">
                      <span class="sucursal-titless">listado de cátegorias</span>
                      <span>
                        <button (click)="onEditCategory(false)" class="btn-new">
                          <svg-icon src="assets/svg/mas.svg"></svg-icon>
                          <span class="ml-2  titunew">Nuevo</span>
                        </button>
                      </span>
                  </div>
                  <div>
                    <div class="example-container overlay-scrollbar overscroll-x-auto mt-2">
                        <table mat-table [dataSource]="dataSourceCategory">

                          <!-- Denomación -->
                          <ng-container matColumnDef="deno">
                            <th mat-header-cell *matHeaderCellDef class="titles "> Denominación </th>
                            <td mat-cell *matCellDef="let element">
                              <span class="descrip">{{ element.categoria }}</span>

                            </td>
                          </ng-container>

                          <!-- Precio -->
                          <ng-container matColumnDef="prec">
                            <th mat-header-cell *matHeaderCellDef class="titles"> Precio Regular </th>
                            <td mat-cell *matCellDef="let element">
                              <span class="descrip flex "> {{ element.precio | currency: 'PEN' }} </span>

                            </td>
                          </ng-container>

                          <!-- Servicios -->
                          <ng-container matColumnDef="servic">
                            <th mat-header-cell *matHeaderCellDef class="titles"> Servicios </th>
                            <td mat-cell *matCellDef="let element" class="">
                              <span class="descrip "> {{ element.cantidadservicios }} </span>
                            </td>
                          </ng-container>

                          <!-- Acciones -->
                          <ng-container matColumnDef="acc">
                            <th mat-header-cell *matHeaderCellDef class="titles"> Acciones </th>
                            <td mat-cell *matCellDef="let element" class="">
                              <span class="descrip flex  ">
                                <div class="flex gap-2">
                                    <button (click)="onEditCategory(true, element)" type="button" mat-menu-item class="btn-opcion  mat-button">
                                        <mat-icon class="flex justify-center items-center"> border_color</mat-icon>
                                    </button>
                                    <!-- Eliminar -->
                                    <button (click)="deleteCategory(element)" type="button" mat-menu-item class="colrs mat-button">
                                        <mat-icon class="flex justify-center items-center">delete</mat-icon>
                                    </button>
                                </div>
                              </span>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="columnsCategory" class="sticky top-0 z-20 border-b-1 border-gray-700"></tr>
                          <tr mat-row *matRowDef="let row ; columns: columnsCategory;"></tr>
                        </table>
                      </div>
                      <!-- <div [ngClass]="{'hidden': !showPageCategory }">
                        <mat-paginator #pageCategory="matPaginator" [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons> </mat-paginator>
                      </div> -->
                  </div>
            </section>
            <!-- LISTADO: TIPO HABITACION -->
            <section [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}" class="lg:px-9 lg:pt-7 px-2 pt-4">
                <div class="flex justify-between h-10">
                    <span class="sucursal-titless">listado de tipos de habitación</span>
                    <span>
                      <button (click)="onEditType(false)"  class="btn-new">
                        <svg-icon src="assets/svg/mas.svg"></svg-icon>
                        <span class="ml-2   titunew">Nuevo</span>
                      </button>
                    </span>
                </div>
                <div>
                  <div class="example-container overlay-scrollbar overscroll-x-auto mt-2">
                      <table mat-table [dataSource]="dataSourceTypeHabitacion">
                        <!-- Nombre -->
                        <ng-container matColumnDef="nom">
                          <th mat-header-cell *matHeaderCellDef class="titles "> Nombre </th>
                          <td mat-cell *matCellDef="let element">
                            <span class="descrip">{{ element.tipohabitacion }}</span>
                          </td>
                        </ng-container>

                        <!-- Capacidad -->
                        <ng-container matColumnDef="capac">
                          <th mat-header-cell *matHeaderCellDef class="titles"> Capacidad </th>
                          <td mat-cell *matCellDef="let element">
                            <span class="descrip flex "> {{ element.personas }} Personas </span>
                          </td>
                        </ng-container>

                        <!-- Acciones -->
                        <ng-container matColumnDef="acc">
                          <th mat-header-cell *matHeaderCellDef class="titles"> Acciones </th>
                          <td mat-cell *matCellDef="let element" class="">
                            <span class="descrip flex  ">
                              <div class="flex gap-2">
                                <!-- Editar -->
                                  <button (click)="onEditType(true, element)"  type="button" mat-menu-item class="btn-opcion mat-button ">
                                      <mat-icon class="flex justify-center items-center"> border_color</mat-icon>
                                  </button>
                                  <!-- Eliminar -->
                                  <button (click)="deleteTypeHabitacion(element)" type="button" mat-menu-item class="colrs mat-button">
                                      <mat-icon class="flex justify-center items-center">delete</mat-icon>
                                  </button>
                              </div>
                            </span>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsTypeHabitacion" class="sticky top-0 z-20 border-b-1 border-gray-700"></tr>
                        <tr mat-row *matRowDef="let row ; columns: columnsTypeHabitacion;"></tr>
                      </table>
                    </div>
                    <!-- <div [ngClass]="{'hidden': !showPageType }">
                      <mat-paginator #pageType="matPaginator" [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons> </mat-paginator>
                    </div> -->
                </div>
            </section>
            <!-- LISTADO: SERVICIO -->
            <section [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}" class="lg:px-9 lg:pt-7 px-2 pt-4">
                <div class="flex justify-between h-10">
                    <span class="sucursal-titless">listado de servicios</span>
                </div>
                <div>
                  <div class="example-container overlay-scrollbar overscroll-x-auto mt-2">
                      <table mat-table [dataSource]="dataSourceService">
                        <!-- Nombre -->
                        <ng-container matColumnDef="ico">

                          <th mat-header-cell *matHeaderCellDef class="titles"> Icono </th>
                          <td mat-cell *matCellDef="let element">
                            <!-- <span class="descrip">Doble</span> -->
                            <div class="contico  text-gray-800   border  w-7 h-7  border-plomo-250 shadow-lg">
                                <svg-icon class="object-contain text-gray-800 w-7 h-7" [src]="sfn.prepareBase64ImgForHtml(element.icono)" ></svg-icon>
                            </div>
                          </td>
                        </ng-container>

                        <!-- Nombre -->
                        <ng-container matColumnDef="nom">
                          <th mat-header-cell *matHeaderCellDef class="titles"> Nombre </th>
                          <td mat-cell *matCellDef="let element">
                            <span class="descrip flex "> {{ element.servicio }} </span>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsService" class="sticky top-0 z-20 border-b-1 border-gray-700"></tr>
                        <tr mat-row *matRowDef="let row ; columns: columnsService;"></tr>
                      </table>
                    </div>
                    <!-- <div [ngClass]="{'hidden': !showPageService }">
                      <mat-paginator  #pgService [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons> </mat-paginator>
                    </div> -->
                </div>
            </section>
       
        </section>
      </div>
    </div>
  </div>
  <div class="absolute  inset-0 bg-gray-500 bg-opacity-40 transition-opacity" style="z-index: 3;" aria-hidden="true">
  </div>
</main>


