<header class="flex-j w-full bb pb-2">
    <span class="descripcions"> {{ body.edit ? 'Editar' : 'Nuevo'}} Cargo</span>
    <button matDialogClose class="close">
        <svg-icon class="w-9 h-9 text-gray-400" src="assets/svg/close.svg"></svg-icon>
    </button>
</header>
<main>
    <form [formGroup]="form" (ngSubmit)="saveCharge()" class="w-98">
        <div class="sm:mb-1 py-4">
            <label class="text-label pb-1">Denominación</label>
            <div>
                <input type="text"
                       class=" error py-2 seclect w-full uppercase" 
                       [class.error]="chargeInvalid"
                       placeholder="Escribe"
                       required
                       formControlName="cargoempleado"
                       (keypress)="sfn.lenghtValue($event, 25)"
                       >
                       <small *ngIf="chargeInvalid"  class="invalid animated fadeIn">
                           <svg-icon class="w-4 h-4 mr-1"  src="assets/svg/alertas.svg"></svg-icon>
                           Campo no válido ! 
                        </small>
            </div>
        </div>

        <div class="flex justify-center space-x-4 sm:justify-end py-3">
            <!-- CANCELAR -->
            <button matDialogClose type="button" class="cancelar">
                <span class="ml-1">Cancelar</span>
            </button>
            <!-- GUARDAR -->
            <button type="submit" class="guardar">
                <span class="ml-1"> Guardar</span>
            </button>
        </div>
    </form>
</main>