<main class="py-3 px-3 sm:px-8">
  <section class="section-p flex-col flex sm:flex-row items-center sm:justify-between space-y-2 py-3">
      <div class="hidden sm:flex items-center w-full">
          <div class="pers">
            <svg-icon class="w-5 h-5 text-white" src="assets/img/configuraciones/usuario/user.svg"> </svg-icon>
          </div>
          <span class="operat ml-2 sm:ml-3 animate__animated animate__fadeIn">Usuarios</span>
        </div>

      <div class="flex items-center w-full justify-end  space-x-5">
          <!-- nuevo -->
          <button (click)="newUser(0)" class="btn-new" >
            <svg-icon src="assets/svg/mas.svg"></svg-icon>
              <span class="ml-1"> Nuevo</span>
          </button>
      </div>
  </section>

  <div class="example-container overlay-scrollbar overscroll-x-auto mt-2">
      <table mat-table [dataSource]="dataSource" class="whitespace-nowrap">

        <!-- Apellidos y Nombres -->
        <ng-container matColumnDef="ApellidosNombres">
          <th mat-header-cell *matHeaderCellDef class="titles" > Apellidos y Nombres</th>
          <td mat-cell *matCellDef="let element">
            <span class="descrip " *ngFor="let empleado of element.empleados">{{empleado.nombrecompleto}} /</span>
          </td>
        </ng-container>

        <!-- Dirección -->
        <ng-container matColumnDef="Usuario">
          <th mat-header-cell *matHeaderCellDef class="titles "> Usuario </th>
          <td mat-cell *matCellDef="let element">
              <span   class="descrip ">{{element.usuario}}</span>
          </td>
        </ng-container>

        <!-- Celular-->
        <ng-container matColumnDef="Contraseña">
          <th mat-header-cell *matHeaderCellDef class=" titles "> Contraseña </th>
          <td mat-cell *matCellDef="let element">
            <span  class="descrip ">{{element.password}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="permisos">
          <th mat-header-cell *matHeaderCellDef class=" titles "> Permisos </th>
          <td mat-cell *matCellDef="let element">
            <span  class="descrip ">{{element.cantidadpermisos}} Modulos</span>
          </td>
        </ng-container>

        <!-- opciones-->
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef class="titles"> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="newUser(element.idusuario)" mat-menu-item  class="btn-opcion">
                <mat-icon> border_color</mat-icon>
                <span>Editar usuario</span>
              </button>
              <button (click)="deleteUser(element.idusuario)"  mat-menu-item  class="colrs">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
           </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky top-0 z-20 border-b-1 border-gray-700"></tr>
        <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>
      </table>
  </div>
  <div [ngClass]="{'hidden': !showPaginator}">
    <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons> </mat-paginator>
  </div>
</main>

<app-new-usuario [userdata]='dataUser' *ngIf="newUsuario" (closeForm)='newUsuario = $event' (responseok)='getUser()'> </app-new-usuario>

