.btn-new {
  width: 120px;
  height: 40px;
  background: #6E40D6;
  box-shadow: 0px 1px 8px rgb(109, 64, 214);
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  transition-duration: 2s;
  transition-property: background-color;
  box-shadow: 0px 1px 8px rgba(109, 64, 214, 0.863);
}


.pers {
  background: #6E40D6;
  box-shadow: 0px 1px 5px rgb(109, 64, 214);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.pers-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  color: #4f4e4e;
}

.operat {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #212731;
}

table {
  width: 100%;
  font-family: Poppins;
}

.example-table-container {
  position: relative;
  max-height: 30vh;
  overflow: auto;
  padding: 0 10px;
}

.example-container {
  max-height: 65vh;
  overflow-y: auto;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 10px 15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell[_ngcontent-gfx-c127],
td.mat-cell[_ngcontent-gfx-c127],
td.mat-footer-cell[_ngcontent-gfx-c127] {
  padding: 0 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-size: 0.77rem;
  font-family: poppis;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: rgba(235, 235, 235, 0.822);
  font-size: 0.77rem;
  color: #575757;
  font-weight: 600;
}

.descrip {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #252525;
}

.italic {
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: #8c8c8c;
}

.colssr {
  color: #b6bbc8;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.estado{
  width: 96px;
  height: 27px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 14px;
}



.btn-opcion {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px !important;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #575757;
}

.colrs {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px !important;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ea4747 !important;
}
.colrs mat-icon {
  color: #ea4747 !important;
}

.titles {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a0a6b4 !important;
}



.overlay-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2A3E4B;
  border-radius: 10rem;
  /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: #E7EFF3;
  border-radius: 10rem;
}
