
<app-laoding></app-laoding>
<main class="py-3 px-3 sm:px-8">
    <section class="section-p flex-col flex sm:flex-row items-center sm:justify-between space-y-2 py-3">
        <div class="hidden sm:flex items-center w-full">
            <div class="pers">
              <svg-icon class="w-6 h-5 text-white" src="assets/svg/userss.svg"> </svg-icon>
            </div>
            <span class="operat ml-2 sm:ml-3 animate__animated animate__fadeIn">Personal Operativo</span>
          </div>

        <div class="flex items-center w-full justify-end  space-x-5">           
             <!--cargo-->
            <button (click)="openListCharges()"  class="btn-filtrar" >
                <svg-icon class="w-6 h-6" src="assets/svg/perfil.svg"></svg-icon>
                <span class="ml-1">Cargos</span>
            </button> 
            <!-- nuevo -->
            <button (click)="operationalStaff()" class="btn-new" >
              <svg-icon src="assets/svg/mas.svg"></svg-icon>
                <span class="ml-1"> Nuevo</span>
            </button>
        </div>
    </section>

    <div class="example-container overlay-scrollbar overscroll-x-auto mt-2">
        <table mat-table [dataSource]="dataSource" class="whitespace-nowrap">
          <!-- Cargo -->
          <ng-container matColumnDef="Cargo">
            <th mat-header-cell *matHeaderCellDef class="titles "> Cargo </th>
            <td mat-cell *matCellDef="let element" >
              <span class="descrip ">{{ element.cargo }}</span>
            </td>
          </ng-container>

          <!-- Apellidos y Nombres -->
          <ng-container matColumnDef="ApellidosNombres">
            <th mat-header-cell *matHeaderCellDef class="titles" > Apellidos y Nombres</th>
            <td mat-cell *matCellDef="let element">
              <span class="descrip ">{{ element.apellidos }} {{ element.nombre }} </span>
              <span class="descrip italic"> {{ element.numerodocumento }}</span>
             </td>
          </ng-container>

          <!-- Dirección -->
          <ng-container matColumnDef="Direccion">
            <th mat-header-cell *matHeaderCellDef class="titles "> Dirección </th>
            <td mat-cell *matCellDef="let element">
                <span   class="descrip ">{{ element.direcion }}</span>
            </td>
          </ng-container>

          <!-- Celular-->
          <ng-container matColumnDef="Celular">
            <th mat-header-cell *matHeaderCellDef class=" titles "> Celular </th>
            <td mat-cell *matCellDef="let element">
              <span  class="descrip ">{{ element.telefono }}</span>
            </td>
          </ng-container>

          <!-- Correo -->
          <ng-container matColumnDef="Correo">
            <th mat-header-cell *matHeaderCellDef class="titles">Correo</th>
            <td mat-cell *matCellDef="let element">
                <span  class="descrip ">{{ element.correo }}</span>
             </td>
          </ng-container>

          <!-- opciones-->
          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef class="titles"> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu"> 
                <!-- EDIT               -->
                <button (click)="operationalStaff(true, element)" type="button" mat-menu-item  class="btn-opcion">
                  <mat-icon> border_color</mat-icon>
                  <span>Editar Personal</span>
                </button>

                <!-- DELETE -->
                <button   (click)="deleteEmployee(element)" type="button" mat-menu-item  class="colrs">
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
             </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky top-0 z-20 border-b-1 border-gray-700"></tr>
          <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div [ngClass]="{'hidden': !showPaginator}">
        <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons> </mat-paginator>
      </div>
</main>


<app-laoding> </app-laoding>
<!-- new operationa staff -->
<app-new-operational-staff *ngIf="newOperationaStaff" [body]="body"  (closeForm)='newOperationaStaff = $event' (responseok)="getEmployee()" > </app-new-operational-staff>

<!-- list charges -->
<app-list-charges *ngIf="openlistCharge"  (closeForm)='openlistCharge = $event'> </app-list-charges>