<app-laoding></app-laoding>
<main class="fixed inset-0 overflow-hidden z-50">
    <div   class="absolute inset-y-0 right-0 max-w-full lg:max-w-lg  p-1 bg-white flex transition duration-500 ease-in z-50" >
      <div class="relative w-full h-full overflow-y-auto overlay-scrollbar z-50">
        <div class="flex items-center w-full sticky top-0 bg-gray-50 px-3 justify-between py-2">
          <span class="sucursal-title">Cargos</span>
          <button (click)="closeFrm()" class="salir">
            <svg-icon src="assets/svg/close.svg"></svg-icon>
          </button>
        </div>
        <div class="px-3">
          <section class="flex justify-between w-full py-4">
            <div class="flex flex-col pr-10">
              <span class="datos">Listado</span>
              <span class="sucrusal-subttl">Aquí podrás editar, eliminar y crear los cargos.</span>
            </div>
            <!-- btn new -->
            <button (click)="newCharges()" type="button" class="btn-new">
              <svg-icon src="assets/svg/mas.svg"></svg-icon>
              <span class="ml-2"> Nuevo</span>
            </button>
          </section>
          <form class="py-2">
            <!-- search-->
            <div class="relative w-full focus-within:text-gray-600 text-gray-400">
              <div class="search">
                <svg-icon class="object-contain w-5" src="assets/svg/search.svg"></svg-icon>
              </div>
              <input (input)="searchCharges(search.value)" (search)="searchCharges(search.value)" #search type="search" class=" py-2 search-imput uppercase" placeholder="Buscar" (keypress)="sfn.lenghtValue($event, 25)" >
            </div>
  
            <!-- TABLE LIST  CHARGES-->
            <div class="example-container overlay-scrollbar overscroll-x-auto mt-2">
              <table mat-table [dataSource]="dataSource">
                <!-- name denomination-->
                <ng-container matColumnDef="Denominacion">
                  <th mat-header-cell *matHeaderCellDef class="titles w-full"> Denominación </th>
                  <td mat-cell *matCellDef="let element">
                    <span class="descrip ">{{ element.cargoempleado }}</span>
                  </td>
                </ng-container>   
  
                <!-- options-->
                <ng-container matColumnDef="opciones">
                  <th mat-header-cell *matHeaderCellDef class="titles w-full">Acciones </th>
                  <td mat-cell *matCellDef="let element">               
                  <div class="flex space-x-4">
                    <!-- Edit -->
                    <button  (click)="newCharges(true, element)" type="button" mat-icon-button class="mat-button">                    
                      <svg-icon src="assets/svg/editar.svg"></svg-icon>
                    </button>
                    <!-- Delete -->
                    <button (click)="deleteProfile(element)" type="button" mat-icon-button class="mat-button">
                      <svg-icon src="assets/svg/deletes.svg"></svg-icon>               
                    </button>
                  </div>               
                  </td>
                </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky top-0 z-20 border-b-1 border-gray-700 w-full"></tr>
                <tr mat-row *matRowDef="let row ; columns: displayedColumns;" class="w-full"></tr>
              </table>
            </div>
            <div [ngClass]="{'hidden': !showPaginator}">
              <mat-paginator [pageSizeOptions]="[10, 15, 25]" showFirstLastButtons> </mat-paginator>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="absolute  inset-0 bg-gray-500 bg-opacity-75 transition-opacity" style="z-index: 3;" aria-hidden="true">
    </div>
  </main>