<app-laoding></app-laoding>
<header class="flex-j w-full bb pb-2">
    <span class="descripcions">{{ body.edit ? 'Editar' : 'Nuevo'}} Cátegoria</span>
    <button matDialogClose >
        <svg-icon  src="assets/svg/cerrar.svg"></svg-icon>
    </button>
</header>
<form [formGroup]="form" (ngSubmit)="saveCategory()">
    <div class="grid grid-cols-2 gap-2">
        <div class="sm:mb-1 py-4">
            <label class="text-label pb-1">Nombre</label>
            <input type="text"
                    class="  py-2 seclect w-full"
                    [class.error]="categoriaInvalid"
                    placeholder="Escribe un nombre"
                    required
                    formControlName="categoria"
                    (keypress)="sfn.lenghtValue($event, 50)"
                    >
                    <small *ngIf="categoriaInvalid"  class="invalid animated fadeIn">
                        <svg-icon class="w-4 h-4 mr-1"  src="assets/svg/alertas.svg"></svg-icon>
                        Campo no válido ! 
                    </small>
        </div>
        <div class="sm:mb-1 py-4">
            <label class="text-label pb-1">Precio Regular</label>
            <input  type="text"
                    class="  py-2 seclect w-full uppercase" 
                    [class.error]="precioInvalid"
                    placeholder="0.00"
                    required
                    formControlName="precio"
                    (keypress)="sfn.onlyNumberAllowed($event, 5)"
                    >
                    <small *ngIf="precioInvalid"  class="invalid animated fadeIn">
                        <svg-icon class="w-4 h-4 mr-1"  src="assets/svg/alertas.svg"></svg-icon>
                        Campo no válido ! 
                    </small>
        </div>
    </div>

    <div  class="md:w-98 w-auto">
        <div class="sm:mb-1 ">
            <label class="text-label pb-1">Servicios</label>
            <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 h-60 overflow-auto ">
                <section  *ngFor="let item of listService"  class="col-span-1 space-y-2  py-2 scrollbar-hover flex flex-col pl-2">
                    <mat-checkbox (change)="changeStatus(checked.checked, item)" [checked]="item.estado" class="option-ch" #checked >{{ item.servicio }}</mat-checkbox>
                </section>
            </div>
        </div>

        <div class="flex justify-center space-x-4 sm:justify-end py-3">
            <!-- CANCELAR -->
            <button matDialogClose type="button" class="cancelar">
                <span class="ml-1">Cancelar</span>
            </button>
            <!-- GUARDAR -->
            <button type="submit" class="guardar">
                <span class="ml-1"> Guardar</span>
            </button>
        </div>
    </div>
</form>