



.btn-new {
    width: 120px;
    height: 40px;
    background: #6E40D6;
    box-shadow: 0px 1px 8px rgb(109, 64, 214);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    transition-duration: 2s;
    transition-property: background-color;
    box-shadow: 0px 1px 8px rgba(109, 64, 214, 0.863);
  }
  
  .btn-filtrar {
    width: 120px;
    height: 40px;
    background: #ffffff;
    border: 0.6px solid #b8bcc6;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #263b50;
    transition-duration: 2s;
    transition-property: background-color;
  }
  
  .pers {
    background: #6E40D6;
    box-shadow: 0px 1px 5px rgb(109, 64, 214);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  
  .pers-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    color: #4f4e4e;
  }
  
  .operat {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #212731;
  }


  .pers {
    background: #6E40D6;
    box-shadow: 0px 3px 6px rgba(109, 64, 214, 0.323);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  
  .operat {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #212731;
  }
  
  .datos {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #242424;
  }
  
  .datos.fonsa{
     font-size: 15px;
  
  }
  
  .sucrusal-subttl {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #7b7d8a;
  }
  .seclect {
    background: #ffffff;
    border: 0.7px solid #d3d3d3;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
   
  }
  .select:focus{
    border-color: #6E40D6; 
    box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(109, 64, 214, 0.254); 
  }
  
  .seclecte{
    border-bottom:none;
    border-top: none;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
  }
  
  .seclecte:focus{
    border-color: white; 
    /* border-bottom: 0.7px solid #d3d3d3; */
    box-shadow: none; 
  
  }
  
  .text-label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #636363;
  }
  
  .example-container {
    max-height: 85vh;
    overflow-y: auto;
  }
  
  .overlay-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  .scrollbar-hover::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
  }
  
  .overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2a3e4b;
    border-radius: 10rem;
    /* border: 1px solid#E7EFF3; */
  }
  
  .overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: #e7eff3;
  }
  
  .overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: #e7eff3;
    border-radius: 10rem;
  }
  
  .btb-editar {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #303030;
    justify-content: center;
  }
  

  
  
  .btn{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    box-sizing: border-box;
    border-radius: 3px;
    width: 120px;
    height: 35px;
    cursor: pointer;
  }
  
  .btn.subir{
    color: #110A0A;
    background: #FFFFFF;
    border: 1px solid #C1C6CA;
  
  }

  .card-mesa{
    background: #F6F6F6;
  }

  .notass{
    font-size: 13px;
    font-weight: 600;
    color: #000000;
  }
  
  .btn.remover{
    color: #110A0A;
    background: #FFFFFF;
    border: 1px solid #C1C6CA;
  }
  .btn.guardar{
    color: white;
    background: #6E40D6;
    border: 1px solid #6E40D6;
    width: 150px;
  }
  
  
  .bg-image{
    background: #F9FAFD;
    border: 2px dashed #D5E4FC;
    box-sizing: border-box;
    font-size: 12px;
    color: #9A9A9A;
    font-family: Poppins;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;    
    flex-direction: column;
  }
  
  



/* imgen hover+ */

.imghover {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 100%;
    background-size: cover;
  }
  
  .middle {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  
  }
  
  .imghover:hover .image {
    opacity: 0.7;
    
  
  }
  
  .imghover:hover .middle {
    opacity: 1; 
   
  }
  

  