<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <!-- Descripción -->
    <div class=" w-full sm:mb-2">
        <label class="text-label pb-1">Descripción</label>
        <fieldset>
            <input
                type="text"
                class="uppercase py-2 enabled seclect w-full"
                [class.error]="descriptionInvalid"
                placeholder="Ingrese Descripción"
                required
                formControlName="descripcion"
                (keypress)="sfn.lenghtValue($event, 250)"
                >
        </fieldset>
        <span *ngIf="descriptionInvalid" class="errors"> Por favor rellene este campo. </span>
    </div>
    <div class="grid grid-cols-2  gap-5 py-3">
        <!-- Capacidad -->
        <div class=" w-full sm:mb-1 ">
            <label class="text-label pb-1">Capacidad</label>
            <fieldset>
                <input
                    type="number"
                    class="uppercase py-2 enabled seclect w-full"
                    [class.error]="capacityInvalid"
                    placeholder="Ingrese Capacidad"
                    required
                    formControlName="capacidad"
                    (keypress)="sfn.onlyNumberAllowed($event, 2)"
                    >
            </fieldset>
            <span *ngIf="capacityInvalid" class="errors"> Por favor rellene este campo. </span>
        </div>
        <!-- Precio -->
        <div class=" w-full sm:mb-2 ">
            <label class="text-label pb-1">Precio</label>
            <fieldset>
                <input
                    type="number"
                    class="uppercase py-2 enabled seclect w-full"
                    [class.error]="priceInvalid"
                    placeholder="Ingrese Precio"
                    required
                    formControlName="precio"
                    (keypress)="sfn.onlyNumberAllowed($event, 5)"
                    >
            </fieldset>
            <span *ngIf="priceInvalid" class="errors"> Por favor rellene este campo. </span>
        </div>
    </div>

    <!-- TODO: Imagenes capacidad de 3 -->
    <div class="flex items-center justify-between py-3">
        <div class="flex ">
            <svg-icon class="pl-2" src="assets/svg/imagenes.svg"></svg-icon>
            <div class="flex flex-col  ml-2">
                <span class="datos">Imágenes</span>
            </div>
        </div>
        <span class="datos">Cant. 3</span>
    </div>
    
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">

        <div *ngFor="let item of listImgs; index as i" class="bg-image w-full h-full">
            <!-- (click)="subir =  !subir" *ngIf="subir" -->
            <label *ngIf="!item" class="flex items-center text-purple-500 underline">
                <svg-icon class="pl-2 mr-2" src="assets/svg/subir.svg"></svg-icon>
                <input class="hidden" type="file" type="file" (change)="uploadImage($event, i)" > Subir
            </label>

            <!-- *ngIf="!subir" -->
            <div *ngIf="item" class="imghover">
                <img class="w-full h-full image"
                    [src]="item"
                    appPhotoPersonalForDefault alt="Image">
                <div class="middle">
                    <!-- TODO:  Remover imagen -->
                    <button (click)="removeImg(i)" class="p-2 bg-purple-600 text-white">
                        <svg-icon  src="assets/svg/clos.svg"></svg-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>