<ngx-spinner bdColor="rgba(0, 0, 0, 0.3)" size="medium" color="#6E40D6" type="ball-clip-rotate" [fullScreen]="true">
    <p style="font-family: Poppins;" class="text-sm text-white"> Cargando.... </p>
</ngx-spinner>