<main class="w-full px-10">
  <section class="flex items-center justify-center flex-col">
    <img src="assets/svg/notification.png" alt="images">
    <div class="py-2">
      <span class="alert-title">
        ¿{{ data.head1 }} <span [ngClass]="{'activar': !data.danger, 'eliminar': data.danger }"
          class="px-1"> {{data.head2}} </span> {{ data.head3 }}?
      </span>
      <span class="alert-subtitle">{{ data.message }}</span>
    </div>
    <div class="space-x-4 flex py-1 items-center">
      <button matDialogClose class="regresar">No, Regresar</button>
      <button (click)="continue()" class="aceptar">Aceptar</button>
    </div>
  </section>
</main>