.aceptar{
    width: 120px;
    height: 40px;
    background: #192332;
    box-shadow: 0px 1px 1px rgb(25, 35, 50);
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    box-shadow: 0px 1px 1px rgb(25, 35, 50);

}

.alert-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;

}

.alert-subtitle{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12.5px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #838383;

}

.regresar {
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #263b50;
  background: #FFFFFF;
  border: 1.4px solid #C1C6CA;
  box-sizing: border-box;
  border-radius: 2px;
}


.eliminar{
color: #E22A2A;
}
