<main class="contmasopc py-3 px-3 sm:px-8 h-[100vh] w-full  ">
  <section class=" section-p flex-col flex sm:flex-row items-center sm:justify-between space-y-2 py-4 ">
    <div class="flex items-center w-full">
      <div class="pers">
        <svg-icon class="w-5 h-5 text-white" src="assets/img/configuraciones/masopciones/masopc.svg"> </svg-icon>
      </div>
      <span class="operat ml-2 sm:ml-3 animate__animated animate__fadeIn">Más Opciones</span>
    </div>
  </section>

  <div class=" bg-white shadow-md text-black h-[80vh]  mb-5  p-5 w-full example-container overlay-scrollbar overscroll-x-auto mt-2">

    <div class="space-y-5">

      <div class="flex flex-col">
          <span class="titu  ">Establecer seguridad</span>
          <span class="sub">Especificar el criterio.</span>
      </div>

      <form [formGroup]="form" (ngSubmit)="savePassword()" class="flex flex-col 2xl:w-3/12 lg:w-6/12 sm:w-7/12 w-full">
        <span class="titu pb-1">Contraseña para anulación de reserva</span>
        <span class="w-full relative">
           <input formControlName="valor"
                  [class.error]="valorInvalid"
                  [type]="hide ? 'password' : 'text'"
                  class="select py-3"
                  min=8 max=15
                  placeholder="**********"
                  >                   
                  <div class="absolute top-4 pl-3 right-3 flex">
                    <div class="-mt-3 -mr-2">
                      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon class=""> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>  
                    </div>                    
                  </div>

           <small *ngIf="valorInvalid" class=" invalid"> ingrese</small>
          </span>
      </form>

    </div>
  </div>

</main>
