@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");

/*------------------------------------------------------- imputs y texttarea de color de la empresa */
textarea:focus,
textarea[type]:focus,
input:focus,
input[type]:focus {
    border-color: #6E40D6;
    box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(110, 64, 214, 1);
    outline: 0 none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Eliminar el spiket de los tipos number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contmasopc{
  font-family: 'Poppins';
}



.pers {
  background: #6E40D6;
  box-shadow: 0px 1px 5px rgb(109, 64, 214);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.select {
  background: #FFFFFF;
  border: 0.7px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  border-radius: 4px;
}

.titu{
  color:#242424;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 2px;
}

.sub{
  color:#7B7D8A;
  font-size: 14px;
}

.select{
  border: 0.5px solid #B9B9B9;
  width: 100%;
}
