<mat-toolbar class="bg-white border-b border-gray-100" >
    <mat-toolbar-row>
      <a class="flex" routerLink ="/Configuraciones/Usuarios">
        <span class="log-ft">WT</span>
        <span class="ft">World <span class="ftc">TED</span></span>
      </a>
      
      <div class="flex lg:hidden ml-5">
        <button mat-icon-button (click)="drawer.toggle();">
          <mat-icon routerLinkActive="active-icon">menu</mat-icon>
        </button>
      </div>
         <!-- search-->
         <div class="relative w-full max-w-sm lg:max-w-md xl:max-w-2xl focus-within:text-gray-600 text-gray-400 ml-10 lg:ml-24 hidden md:flex">
          <div class="search">
            <svg-icon class="object-contain w-5" src="assets/svg/search.svg"></svg-icon>
          </div>
          <input type="search"
                 class="py-2 search-imput  focus:outline-none  placeholder-gray-400 uppercase"
                 placeholder="Buscar"
                 required
                 [formControl]="search"
                 spellcheck="false"
                 autocomplete="none"
                 (keypress)="sfn.lenghtValue($event, 50)"
                  >
          </div>
  
      <span class="toolbar-spacer"></span>
      <div class=" gap-2 justify-end flex items-center  pr-1 sm:pr-4">
        <!-- LOGO -->
        <div class="justify-end hidden lg:flex items-center pr-14 xl:pr-16">
          <span class="focus:outline-none relative z-0">
            <img class="object-cover  logoem rounded-full"
              [src]="dataLogin.logo" alt="images" appPhotoDeault >
            <div class="absolute right-0 bottom-0 h-4 w-4  p-1 z-10 bg-green-500 rounded-full  animate-ping"></div>
            <div class="absolute right-0 bottom-0 h-4 w-4  p-1 z-10 bg-green-500   rounded-full "
              style="border: 3px solid white;"></div>
          </span>
          <span class="font-Poppins ml-2">
            <div class="empresa">{{dataLogin.usuario}}</div>
            <div class="ruc">Activo</div>
          </span>
        </div>
  
        <!-- opciones pc -->
        <div class="relative inline-block text-left dropdown">
          <!-- pc -->
          <div  class="hidden lg:flex">
            <button (click)="menutoogle = !menutoogle" type="button" aria-haspopup="false" aria-expanded="true"
            aria-controls="headlessui-menu-items-117" class="menupc hover:bg-gray-50">
            <svg-icon src="assets/svg/toogle.svg"> </svg-icon>
          </button>
          </div> 
          <!-- tabled -->
          <div class="flex lg:hidden">
            <button (click)="menutoogle = !menutoogle" class="focus:outline-none relative z-0 ">
              <img class="object-cover  logoem rounded-full"
                [src]="dataLogin.logo" alt="images" appPhotoDeault >
              <div class="absolute right-0 bottom-0 h-4 w-4  p-1 z-10 bg-green-500 rounded-full  animate-ping"></div>
              <div class="absolute right-0 bottom-0 h-4 w-4  p-1 z-10 bg-green-500   rounded-full "
                style="border: 3px solid white;"></div>
            </button>    
          </div>      
                 
          <!-- dropwods -->
          <div *ngIf="menutoogle"
            class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right z-50 relative">
            <div
              class="absolute -right-1 w-60 mt-4 origin-top-right bg-white border dropdownconfiguraci border-gray-200  divide-y divide-gray-100  shadow-md outline-none  animate__animated animate__fadeIn"
              aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
              <div class="absolute -top-3 right-3">
                <svg width="39" height="15" viewBox="0 0 39 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16.1233 1.29906C18.1607 -0.088146 20.8393 -0.0881447 22.8767 1.29906L37.6344 11.3468C39.2617 12.4548 38.4775 15 36.5088 15H2.49122C0.522471 15 -0.26173 12.4548 1.36564 11.3468L16.1233 1.29906Z"
                    fill="white" />
                </svg>
              </div>
              <!-- (change)="" -->
              <div class="overflow-y-auto flex  flex-col  px-5  py-5">
                <div   tabindex="0" class="py-2 cursor-pointer font-Poppins" role="menuitem">
                  <div class="flex items-center flex-col w-full">
                    <figure class="bors mb-4">
                      <div class=" rounded-full">
                        <img class="empresalo object-cover"
                          [src]="dataLogin.logo" alt="images" appPhotoDeault >
                      </div>
                    </figure>
                    <span class="font-Poppins ml-2 py-4">
                      <div class="empresa">{{dataLogin.usuario}}</div>
                      <div class="ruc justify-center items-center">Activo</div>
                    </span>
  
                    <button (click)="logout()" type="button" class="btn-salir">
                      <svg-icon class="w-5 h-5" src="assets/svg/salir.svg"> </svg-icon>
                      <span class="ml-1">Cerrar Sesión</span>
                    </button>
  
                    <hr sty class=" w-full my-3"
                      style="background: #FFFFFF;  border-top: 1px solid rgba(196, 196, 196, 0.514); box-sizing: border-box;">
                    <div class="focus:outline-none flex items-center w-full justify-start py-2">
                      <span class="focus:outline-none relative">
                        <img class="object-cover logoem rounded-md"
                          [src]="dataLogin.logo" alt="images" appPhotoDeault >
                        <div class="absolute -right-1 -bottom-1 h-4 w-4  p-1 z-10 bg-green-500 rounded-full "
                          style="border: 3px solid white;"></div>
                      </span>
                      <div class="flex flex-col ml-2 font-Poppins">
                        <span class="empresa">{{ dataLogin.razonsocial }}</span>
                        <span class="ruc">{{ dataLogin.ruc }}</span>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="isMenuOpen">
  
      <mat-nav-list>
        <span *ngFor="let item of menu">
          <span *ngIf="item.children && item.children.length > 0">
            <mat-accordion>
              <mat-expansion-panel class="mat-elevation-z0" [expanded]="item.estado" (opened)="setStep(item)">
                <mat-expansion-panel-header  routerLinkActive="router-link-active"  [routerLink]="item.route"  class="menu">
                  <mat-panel-title>
                    <!-- Cabeceras del submenu -->
                    <div class="menu"   routerLinkActive="active"  fxLayout="row" fxLayoutAlign="space-between center">
                      <svg-icon routerLinkActive="active-icon" [src]="item.iconName"> </svg-icon>
                      <span style="padding-left: 5px;"> {{item.displayName}}</span>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <!-- sub rutas -->
                <span *ngFor="let child of item.children">
                  <a class="submenu"  [routerLink]="child.route" mat-list-item routerLinkActive="active">
                    <svg-icon routerLinkActive="active-icon" [src]="child.iconName"> </svg-icon>
                    <span style="margin-left: 10px;"> {{child.displayName}} </span>
                  </a>
                </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
  
          <!-- ruta independiente -->
          <span *ngIf="!item.children || item.children.length === 0">
            <a class="menu" style="padding-left: 10px;" [routerLink]="item.route" mat-list-item
              fxLayoutAlign="space-between center" routerLinkActive="router-link-active">
              <svg-icon routerLinkActive="active-icon" [src]="item.iconName"> </svg-icon>
              <span routerLinkActive="active-icon" style="margin-left: 10px;"> {{item.displayName}} </span>
            </a>
          </span>
        </span>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
      <div class="main  h-full" style="background: #f5f6fad3;">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <style>
    .dropdown:focus-within .dropdown-menu {
      opacity: 1;
      transform: translate(0) scale(1);
      visibility: visible;
    }
  </style>