.main {
  overflow-y: hidden;
  overflow-x: hidden;
}

.sidenav-container {
  height: 92%;
  position: relative;
  background: #fff ;
  

}

.sidenav-content {
  width: 100%;
  background: #fff;
 

}

.sidenav {
  width: 235px;
 
 
 
}

.sidenav .mat-toolbar {
  background: #fff;
  color: #fff;

}

.mat-toolbar.mat-primary {
  /* // background: #eee;  // Change the color of the navigation bar
    // color: #000;  // Change the font color of the navigation bar */
  position: sticky;
  top: 0;
  background: #fff !important;

}

.is-active {
  background-color: #aaa;
  color: #fff;
}

.is-active:hover {
  background-color: #aaa;
  color: #fff;
}

.is-active:focus {
  background-color: #aaa;
  color: #fff;
}

.logo {
  margin-right: 10px;
  font-size: 18px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
}
.toolbar-icon {
  padding: 0 0px;
}

.sidenavContainer {
  height: 100%;
  background: #fff;

}

.toolbar-spacer {
  flex: 1 1 auto;
  background: #fff;
}

.top-nav {
  height: 64px;
  position: fixed;
  top: 0px;
  background: #fff;
}

.fixed-toolbar {
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
}
.inner-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #6E40D6;
  position: relative;
  z-index: 1;
}



.active {
  color: #6E40D6 !important;
}

.router-link-active {
  color: #6E40D6;
  background-color: rgba(20, 146, 237, 0.041);
  position: relative;
  transition: 2s;
  transition-duration: 6s;
  transition-duration: 120ms;
  transition-duration: 1s, 15s;
  transition-duration: 10s, 30s, 230ms;
  
  /* Global values */
  transition-duration: inherit;
  transition-duration: initial;
  transition-duration: unset;

}

.router-link-active:before {
  content: "";
  left:0;
  position: absolute;
  width: 6px;
  height: 100%;
  background: #6E40D6;
  color: #6E40D6;
  border-radius: 0px 10px 10px 0;
}

.active:active {
  font-weight: bold;
  background-color: #0c3450af;
}

.active-icon {
  color: #6E40D6 !important;
}

.menu {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  font-weight: 500;
  color: #263b50; 
  align-items: center;
  gap: 5px;
}

.submenu {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
   color: #263b50; 
}

.log-ft {
  width: 45px;
  height: 45px;    
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #6E40D6;
  color: #ffffff;
  padding-left: 1px;
  border-radius: 4px;
  margin-right: 10px;
 
}

.ft {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #13385d;
}

.ftc {
  color: #6E40D6;
}

/* menu responsive */
.menupc {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.6px solid #b8bcc6;
  box-sizing: border-box;
  border-radius: 3px;
  width: 40px;
  height: 40px;
}

.logoem {
  width: 40px;
  height: 40px;
}

.empresa {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: #00263e;
}

.ruc {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #7a7e81;
}

.dropdownconfiguraci {
  background: #ffffff;
  box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.11),
    0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  width: 300px;
}

.empresalo {
  width: 76px;
  height: 76px;
  filter: drop-shadow(0px 3px 6px rgba(132, 147, 183, 0.2));
  border-radius: 100px;
  border: 4px solid white;
  object-fit: cover;
}

.bors {
  background: rgb(110,64,214);
  background: linear-gradient(90deg, rgba(110,64,214,1) 1%, rgba(46,0,151,1) 29%, rgba(131,128,249,1) 56%, rgba(25,35,50,1) 78%);
  padding: 3px;
  border-radius: 100%;
  margin: 2px;
}


.btn-salir {
  width: 220px;
  height: 40px;
  background: #6E40D6;
  box-shadow: 0px 2px 10px rgba(20, 145, 237, 0.15);
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  transition-duration: 2s;
  transition-property: background-color;
}


.btn-salir:hover {
  transition-duration: 2s;
  transition-property: background-color;
  background: #6E40D6;
}




.search{
  position: absolute;
  padding-left: 16px;
  display: flex;
  top: 12px;
}

.search-imput{
  display: flex;
  padding-left: 44px;
  font-family: Poppins;
  font-size: 13px;
  border: 0.7px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 4px;
  color: #252525;
  width: 100%;
  font-weight: 500;
  height: 40px;
}