@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --dark-one: #030e29;
  --dark-two: #8380f9;
  --main-color: #784cfb;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

/* Genral Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* inicia validacion de  imputs */

/* error */
.error {
  border-color: #e74c3c !important;
  color: #e74c3c !important;
  background: rgba(212, 82, 82, 0.123) !important;
}

.error:focus {
  box-shadow: 0 0 1px #d45252 !important;
  border-color: #e74c3c !important;
  color: #e74c3c !important;
}

/* succes */

.success {
  box-shadow: 0 0 3px #18a84c !important;
  border-color: #18a84c !important;
}

.success:focus {
  box-shadow: 0 0 3px #18a84c !important;
  border-color: #18a84c !important;
}

.errors {
  font-size: 11.5px;
  color: red;
  font-family: Poppins;
  font-weight: 400;
  margin-top: -10px;
}

.mat-drawer.mat-drawer-side {
  z-index: 1 !important;
}

.mat-drawer-side {
  border-right: solid 1px rgba(150, 150, 150, 0.12);
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(119, 159, 188, 0.1);
  transform: rotate(-90deg);
}

.disable:disabled,
.disable[disabled] {
  background-color: rgba(173, 172, 172, 0.775) !important;
  opacity: 0.9;
  color: #00000093 !important;
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid rgba(230, 230, 230, 0.33) !important;
}
.disabled:disabled,
.disabled[disabled] {
  background-color: rgba(230, 230, 230, 0.33) !important;
  opacity: 1;
  color: #00000093;
  cursor: not-allowed;
  pointer-events: none;
}

.NgxEditor__MenuBar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid rgba(95, 95, 95, 0.2);
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
}


.NgxEditor {
  background: #e7e7e7;
  color: #000;
  background-clip: padding-box;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  position: relative;
}



.NgxEditor__Content p {
  margin: 0 0 10 px;
  font-size: 12px;
  font-family: "Poppins";
}



.not-active {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.26);
  cursor: not-allowed;
  pointer-events: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.26);
}

.mat-standard-chip.mat-chip-with-trailing-icon {
  /* padding-top: 7px; */
  padding-bottom: 7px;
  /* padding-right: 8px; */
  /* padding-left: 12px; */
}
.mat-chip.mat-standard-chip {
  background-color: #e1e1e1;
  color: #263b50;
}

.mat-standard-chip {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 1px 12px !important;
  border-radius: 2px !important;
  align-items: center;
  cursor: default;
  min-height: 30px !important;
  font-size: 11.5px;
  height: 2px;
}

.mat-option.mat-active {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(49, 47, 135, 0.87) !important;
}

/* Eliminar el spiket de los tipos number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* cambiar color  a cxhecbokx*/

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #6e40d6 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #6e40d6 !important;
}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #6e40d6 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 0.42);
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0.25em;
}

.mat-pseudo-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1),
    background-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
}

.mat-option-pseudo-checkbox {
  margin-right: 8px;
}
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #6e40d6;
}

/* cambiar color  a swick */


.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: rgb(110, 64, 214) !important;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(110 64 214 / 69%) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
  background-color: rgba(110, 64, 214, 1) !important;
}

.mat-calendar-body-selected {
  background-color: #6e40d6;
  color: #fff;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: rgb(110, 64, 214);
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-program-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: rgb(110, 64, 214);
  color: #fff;
}

/* flex items-center */
.invalid {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-weight: 500;
  color: #e74c3c;
  font-size: 11.5px;
  margin-top: 2px;

  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input::placeholder {
  font-size: 1em;
  /* font-style: italic; */
  text-transform: capitalize;
}

.mat-select-placeholder {
  text-transform: capitalize;
}

.overlay-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10rem;
  /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: #e7eff3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: #e7eff3;
  border-radius: 10rem;
}
