<app-laoding></app-laoding>
<main class="py-3 px-3 sm:px-5 2xl:px-8">
    <div class="flex items-center justify-between md:justify-start w-full py-2">
        <div class="flex">
            <div class="pers">
                <svg-icon class="w-6 h-5 text-white" src="assets/svg/mip.svg"> </svg-icon>
            </div>
            <span class="operat ml-2 sm:ml-3">Mi Página</span>
        </div>

        <nav class="hidden md:flex pl-9">
            <ul class="flex space-x-6">
                <li *ngFor="let item of listmyPages" class="menu"><a
                        [routerLink]=" item.pagina === 'Habitaciones' ? ['/mipagina/pagebedrooms'] : []"
                        [routerLinkActive]="item.pagina === 'Habitaciones' ? 'active-menu': ''" [class.hidden]="item.pagina !== 'Habitaciones'" >
                        {{ item.pagina }}
                    </a></li>

                    <!-- FIXME: SE OCULTO LAS DEMAS OPCIONES -->

                <!-- <li class="menu"> <a>Inicio</a></li>
                <li class="menu"> <a>Nosotros</a></li>
                <li class="menu"> <a  [routerLink]="['/mipagina/pagebedrooms']" routerLinkActive="active-menu">Habitaciones</a></li>
                <li class="menu"> <a>Instalaciones</a></li>
                <li class="menu"> <a>Contactos</a></li> -->
            </ul>
        </nav>
        <div class="flex md:hidden">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button class="hidden" mat-menu-item>
                    <span>Inicio</span>
                </button>
                <button class="hidden" mat-menu-item>
                    <span>Nosotros</span>
                </button>
                <button [routerLink]="['/mipagina/pagebedrooms']" routerLinkActive="active-movil" mat-menu-item>
                    <span>Habitaciones</span>
                </button>
                <button class="hidden" mat-menu-item>
                    <span>Instalaciones</span>
                </button>

                <button class="hidden" mat-menu-item>
                    <span>Contactos</span>
                </button>
            </mat-menu>
        </div>
    </div>


    <div class="example-container overlay-scrollbar overscroll-x-auto mt-2 bg-white " style="height: 80vh;">
        <form (keydown.enter)="$event.preventDefault()" [formGroup]="form" (ngSubmit)="savePage()"
            class="grid grid-cols-5 gap-8 md:gap-10 2xl:gap-16 border-b p-2 xl:p-8 border-gray-300">
            <fieldset class="col-span-5 md:col-span-3">
                <div class="flex items-center justify-between pb-2">
                    <div class="flex ">
                        <svg-icon class="pl-2" src="assets/svg/encabezado.svg"></svg-icon>
                        <div class="flex flex-col  ml-2">
                            <span class="datos">Encabezado</span>
                            <span class="sucrusal-subttl">En está sección podra cambiar su información.</span>
                        </div>
                    </div>

                    <!-- editar -->
                    <button [disabled]="editInfo" (click)="editInfo = !editInfo" type="button" mat-flat-button class="btb-editar underline  disabled">
                        <span class="flex items-center underline" >
                            <svg-icon class="pl-2 mr-1" src="assets/svg/edi.svg"></svg-icon>
                            Cambiar Información
                        </span>
                    </button>
                </div>

                <!-- Título -->
                <div class=" w-full sm:mb-1 pb-2">
                    <label class="text-label pb-1">Título</label>
                    <fieldset [disabled]="!editInfo">
                        <input type="text" class="py-2 enabled seclect w-full disabled"
                            [class.error]="titleInvalid" placeholder="Ingrese Título" required formControlName="titulo"
                            (keypress)="sfn.lenghtValue($event, 50)">
                    </fieldset>
                    <span *ngIf="titleInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>

                <!-- Descripción -->
                <div class=" w-full sm:mb-2">
                    <label class="text-label pb-1">Descripción</label>
                    <fieldset [disabled]="!editInfo">
                        <input type="text" class="py-2 enabled seclect w-full disabled"
                            [class.error]="descriptionInvalid" placeholder="Ingrese Descripción" required
                            formControlName="descripcion" (keypress)="sfn.lenghtValue($event, 250)">
                    </fieldset>
                    <span *ngIf="descriptionInvalid" class="errors"> Por favor rellene este campo. </span>
                </div>


                <div class="flex items-center justify-between py-3">
                    <div class="flex ">
                        <svg-icon class="pl-2" src="assets/svg/imagenes.svg"></svg-icon>
                        <div class="flex flex-col  ml-2">
                            <span class="datos">Imágenes</span>
                        </div>
                    </div>
                    <fieldset [disabled]="!editInfo" class="space-x-5  disabled btn subir ">
                        <label class="flex items-center" >
                            <svg-icon class="pl-2 mr-2" src="assets/svg/subir.svg"></svg-icon>
                            <input class="hidden" type="file" (change)="importImg($event)"> Subir
                        </label>
                    </fieldset>
                </div>

                <div class="bg-image w-full h-full">

                    <label *ngIf="!imgbs64Import" class="py-5">
                        <!-- TODO: Si no se ehay imagen -->
                        <div class="flex flex-col justify-center items-center">
                            <img src="assets/svg/subirimage.svg" alt="">
                            <span>Subir la imagen</span>
                        </div>
                    </label>
                    <div *ngIf="imgbs64Import" [class.imghover]="editInfo">
                        <img class="w-full h-full image  object-cover max-h-48" [src]="imgbs64Import" alt="img">
                        <div class="middle">
                            <!-- TODO: quitar img functions -->
                            <button *ngIf="editInfo" [disabled]="!editInfo" (click)="removeImg()" class="p-2 bg-purple-600 text-white">
                                <svg-icon class="text-white" src="assets/svg/clos.svg"></svg-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <fieldset [disabled]="!editInfo" class="space-x-5 flex py-2 mt-3">
                    <button (click)="cancelHeaders()" type="button" class="btn remover"> Cancelar </button>
                    <button type="submit" class="btn guardar disable"> Guardar Cambios </button>
                </fieldset>

            </fieldset>

            <div class="col-span-5 w-auto md:col-span-2">
                <div class="card-mesa p-6  flex ">
                    <svg-icon class="pl-2 hidden lg:flex -mb-5" src="assets/svg/alert.svg"></svg-icon>
                    <div class="flex flex-col pl-2">
                        <span class="sucrusal-subttl"> <span class="notass pr-1">NOTAS: </span> El Titulo no debe
                            superar los 26 caracteres.</span>
                        <span class="sucrusal-subttl">La descripción ingresada no debe superar los 120
                            caracteres.</span>
                        <span class="sucrusal-subttl">La imagen en esta sección deben ser de alta calidad para una mejor
                            vista.</span>
                    </div>
                </div>

            </div>
        </form>
          

        <section class="grid grid-cols-5 gap-8 md:gap-10 2xl:gap-16 border-b p-2 xl:p-8 border-gray-200">
            <form (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveDetails(detailsForm)" #detailsForm="ngForm" class="col-span-5 md:col-span-3">
                <div class="flex items-center justify-between pb-2">
                    <div class="flex ">
                        <svg-icon class="pl-2" src="assets/svg/key.svg"></svg-icon>
                        <div class="flex flex-col  ml-2">
                            <span class="datos">Detalle de habitaciones</span>
                            <span class="sucrusal-subttl">En esta sección podrá cambiar la información e imágenes de
                                cada habitación</span>
                        </div>
                    </div>

                    <!-- editar -->
                    <button  [disabled]="editdetails" (click)="editdetails = !editdetails" (click)="editar()" type="button" mat-flat-button
                        class="btb-editar underline disabled" >
                        <span class="flex items-center underline">
                            <svg-icon class="pl-2 mr-1" src="assets/svg/edi.svg"></svg-icon>
                            Cambiar Información
                        </span>
                    </button>
                </div>

                <div class="container pt-4">
                    <div class="accordion">
                        <!-- [attr.aria-expanded]="!isCollapsed" -->
                        <!-- aria-expanded="false" -->
                        <div *ngFor="let item of listCategory; index as indexCategory" class="accordion-item">
                            <button  [disabled]="!editdetails"  (click)="changeExpanded(item)" id="accordion-button-{{indexCategory}}" type="button"
                                [attr.aria-expanded]="item.expanded"><span class="accordion-title">{{ item.categoria
                                    }}</span>
                                    <span class="icon" aria-hidden="true">                                
                                    </span>                                
                                
                                </button>
                            <div class="accordion-content">
                                <div *ngIf="item.expanded" class=" w-full sm:mb-2">
                                    <label class="text-label pb-1">Descripción</label>

                                    <div class="NgxEditor__Wrapper ">
                                        <ngx-editor-menu [editor]="listEditors[indexCategory]" [toolbar]="toolbar" > </ngx-editor-menu>
                                        <ngx-editor
                                            [name]="item.descripcion + item.categoria"
                                            [editor]="listEditors[indexCategory]"
                                            [disabled]="!editdetails"
                                            class="NgxEditor"
                                            placeholder="Ingrese Descripción" required [(ngModel)]="item.descripcion"
                                            [class.error]="description.invalid && description.touched"
                                            #description="ngModel"
                                          > </ngx-editor>
                                    </div>
                                    <!-- <fieldset>
                                        <input [disabled]="!editdetails" type="text"
                                            [name]="item.descripcion + item.categoria"
                                            class=" py-2 enabled seclect w-full disabled"
                                            [class.error]="description.invalid && description.touched"
                                            placeholder="Ingrese Descripción" required [(ngModel)]="item.descripcion"
                                            (keypress)="sfn.lenghtValue($event, 250)" #description="ngModel">
                                    </fieldset> -->
                                    <span *ngIf="description.invalid && description.touched" class="errors"> Por favor
                                        rellene este campo. </span>
                                </div>
                                <div class="grid grid-cols-2  gap-5 py-3">
                                    <!-- Capacidad -->
                                    <div class=" w-full sm:mb-1 ">
                                        <label class="text-label pb-1">Capacidad</label>
                                        <fieldset>
                                            <input [disabled]="!editdetails" type="number"
                                                [name]="item.capacidad.toFixed(2) + item.categoria"
                                                class="py-2 enabled seclect w-full disabled"
                                                [class.error]="capacity.invalid && capacity.touched"
                                                placeholder="Ingrese Capacidad" required [(ngModel)]="item.capacidad"
                                                (keypress)="sfn.onlyNumberAllowed($event, 2)" #capacity="ngModel">
                                        </fieldset>
                                        <span *ngIf="capacity.invalid && capacity.touched" class="errors"> Por favor
                                            rellene este campo. </span>
                                    </div>
                                    <!-- Precio -->
                                    <div class=" w-full sm:mb-2 ">
                                        <label class="text-label pb-1">Precio</label>
                                        <fieldset>
                                            <input disabled type="number"
                                                [name]="item.precio.toFixed(2) + item.categoria"
                                                class="py-2 enabled seclect w-full disabled"
                                                [class.error]="price.invalid && price.touched"
                                                placeholder="Ingrese Precio" required [(ngModel)]="item.precio"
                                                (keypress)="sfn.onlyNumberAllowed($event, 5)" #price="ngModel">
                                        </fieldset>
                                        <span *ngIf="price.invalid && price.touched" class="errors"> Por favor rellene
                                            este campo. </span>
                                    </div>
                                </div>

                                <!-- TODO: Imagenes capacidad de 3 -->
                                <div class="flex items-center justify-between py-3">
                                    <div class="flex ">
                                        <svg-icon class="pl-2" src="assets/svg/imagenes.svg"></svg-icon>
                                        <div class="flex flex-col  ml-2">
                                            <span class="datos">Imágenes</span>
                                        </div>
                                    </div>
                                    <span class="datos">Cant. 3</span>
                                </div>

                                <fieldset [disabled]="!editdetails" class="grid grid-cols-2 md:grid-cols-3 gap-4">

                                    <div *ngFor="let imgs of item.imagenes; index as indeximg"
                                        class="bg-image w-full h-full">
                                        <!-- (click)="subir =  !subir" *ngIf="subir" -->
                                        <label *ngIf="!imgs.imagenurl"
                                            class="flex items-center text-purple-500 underline  cursor-pointer">
                                            <svg-icon class="pl-2 mr-2 max-h-40" src="assets/svg/subir.svg"></svg-icon>
                                            <input class="hidden" type="file" type="file"
                                                (change)="uploadImagenDatails($event, imgs)"> Subir
                                        </label>
                                        
                                        <!-- *ngIf="!subir" -->
                                        <div *ngIf="imgs.imagenurl" [class.imghover]="editdetails">
                                            <img class="w-full max-h-36 object-cover image" [src]="imgs.imagenurl">
                                            <div class="middle">
                                                <!-- TODO:  Remover imagen -->
                                                <button *ngIf="editdetails" (click)="removeImgDetails(item, indeximg)" type="butt"
                                                    class=" p-3 bg-purple-600 text-white">
                                                    <svg-icon class="text-white" src="assets/svg/clos.svg"></svg-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- BTN ACCION -->
                <fieldset [disabled]="!editdetails" class="space-x-5 flex py-2 mt-3">
                    <button (click)="cancelDetails()" type="button" class="btn remover"> Cancelar </button>
                    <button type="submit" class="btn guardar disable"> Guardar Cambios </button>
                </fieldset>
            </form>

            <div class="col-span-5 w-auto md:col-span-2">
                <div class="card-mesa p-6  flex">
                    <svg-icon class="pl-2 hidden lg:flex -mb-5" src="assets/svg/alert.svg"></svg-icon>
                    <div class="flex flex-col pl-2">
                        <span class="sucrusal-subttl">
                            <span class="notass  pr-1">NOTAS: </span>
                            El Titulo no debe superar los 26 caracteres.</span>
                        <span class="sucrusal-subttl">La descripción ingresada no debe superar los 120
                            caracteres.</span>
                        <span class="sucrusal-subttl">La imagen en esta sección deben ser de alta calidad para una mejor
                            vista.</span>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>

<router-outlet></router-outlet>



