.btn-new {
  width: 120px;
  height: 40px;
  background: #6e40d6;
  box-shadow: 0px 1px 8px rgb(109, 64, 214);
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  transition-duration: 2s;
  transition-property: background-color;
  box-shadow: 0px 1px 8px rgba(109, 64, 214, 0.863);
}

.btn-filtrar {
  width: 120px;
  height: 40px;
  background: #ffffff;
  border: 0.6px solid #b8bcc6;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #263b50;
  transition-duration: 2s;
  transition-property: background-color;
}

.pers {
  background: #6e40d6;
  box-shadow: 0px 1px 5px rgb(109, 64, 214);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.pers-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  color: #4f4e4e;
}

.operat {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #263b50;
}

.active-menu {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 0.6rem 0rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #263b50;
  position: relative;
}

.active-menu:before {
  content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #263b50;
  color: #263b50;
  border-radius: 10px 10px 0px 0;
}

.active-movil{
   content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #263b500c;
  color: #263b50;
  font-weight: 600;
}


.pers {
  background: #6e40d6;
  box-shadow: 0px 3px 6px rgba(109, 64, 214, 0.323);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.operat {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #212731;
}

.datos {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #242424;
}

.datos.fonsa {
  font-size: 15px;
}

.menu {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.mat-menu-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 30px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  font-size: 12px;
  font-family: "Poppins";
}

.inactive-menu {
  color: #616161;
  font-weight: 500;
}

.sucrusal-subttl {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #7b7d8a;
}
.seclect {
  background: #ffffff;
  border: 0.7px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
}
.select:focus {
  border-color: #6e40d6;
  box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 3px rgba(109, 64, 214, 0.254);
}

.seclecte {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: none;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
}

.seclecte:focus {
  border-color: white;
  /* border-bottom: 0.7px solid #d3d3d3; */
  box-shadow: none;
}

.text-label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #636363;
}

.example-container {
  max-height: 85vh;
  overflow-y: auto;
}

.overlay-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2a3e4b;
  border-radius: 10rem;
  /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: #e7eff3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: #e7eff3;
  border-radius: 10rem;
}



.btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  box-sizing: border-box;
  border-radius: 3px;
  width: 120px;
  height: 35px;
  cursor: pointer;
}

.btn.subir {
  color: #110a0a;
  background: #ffffff;
  border: 1px solid #c1c6ca;
}

btn.subir:disabled {
  color: #ce1717;
  background: #cc0c0c;
  border: 1px solid #c1c6ca;
}

.card-mesa {
  background: #f6f6f6;
}

.notass {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
}

.btn.remover {
  color: #110a0a;
  background: #ffffff;
  border: 1px solid #c1c6ca;
}
.btn.guardar {
  color: white;
  background: #6e40d6;
  border: 1px solid #6e40d6;
  width: 150px;
}

.bg-image {
  background: #f9fafd;
  border: 2px dashed #d5e4fc;
  box-sizing: border-box;
  font-size: 12px;
  color: #9a9a9a;
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  flex-direction: column;
}

/* .accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
  
} */
.accordion .accordion-item button[aria-expanded="false"] {
  background: #F4F4F4;
  border-radius: 3px;
}
/* .accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid var(--dark-two);
} */
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1.3em 0;
  color: #030e29;
  font-size: 0.8rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  font-family: Poppins;
  margin: 8px 0px;
  
}

.accordion button:disabled {
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.857);
  cursor: not-allowed;
  pointer-events: none;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #5f5f5f;
  

  /* border: 1px solid var(--dark-two); */
}
.accordion button .accordion-title {
  padding: 2em 1.5em 2em 1rem;
  font-weight: 600;
  
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 10px;
  width: 27px;
  height: 27px;
  /* border: 1px solid; */
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 11px;
  height: 3px;
  background: currentColor;
  
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 3px;
  height: 12px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: var(--dark-two);
  background: rgba(131, 128, 249, 0.1);
  border-radius: 3px;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 100%;
  transition: all 500ms linear;
  will-change: opacity, max-height;
  padding: 1rem 0.5rem;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 0.8rem;
  margin: 1.1em 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #5f5f5f;
}

.img-insert {
  width: 300px;
  height: 300px;
  background: #ccc;
  overflow: hidden;
}

.box .img-insert {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .img-insert {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}






.btn-new {
  width: 120px;
  height: 40px;
  background: #6E40D6;
  box-shadow: 0px 1px 8px rgb(109, 64, 214);
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  transition-duration: 2s;
  transition-property: background-color;
  box-shadow: 0px 1px 8px rgba(109, 64, 214, 0.863);
}

.btn-filtrar {
  width: 120px;
  height: 40px;
  background: #ffffff;
  border: 0.6px solid #b8bcc6;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #263b50;
  transition-duration: 2s;
  transition-property: background-color;
}

.pers {
  background: #6E40D6;
  box-shadow: 0px 1px 5px rgb(109, 64, 214);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.pers-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  color: #4f4e4e;
}

.operat {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #212731;
}


.pers {
  background: #6E40D6;
  box-shadow: 0px 3px 6px rgba(109, 64, 214, 0.323);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.operat {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #212731;
}

.datos {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #242424;
}

.datos.fonsa{
   font-size: 15px;

}

.sucrusal-subttl {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #7b7d8a;
}
.seclect {
  background: #ffffff;
  border: 0.7px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
 
}
.select:focus{
  border-color: #6E40D6; 
  box-shadow: 0 0.5px 1px rgba(229, 103, 23, 0.075) inset, 0 0 3px rgba(109, 64, 214, 0.254); 
}

.seclecte{
  border-bottom:none;
  border-top: none;
  border-right: none;
  border-left: none;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
}

.seclecte:focus{
  border-color: white; 
  /* border-bottom: 0.7px solid #d3d3d3; */
  box-shadow: none; 

}

.text-label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #636363;
}

.example-container {
  max-height: 85vh;
  overflow-y: auto;
}

.overlay-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2a3e4b;
  border-radius: 10rem;
  /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: #e7eff3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: #e7eff3;
  border-radius: 10rem;
}

.btb-editar {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #6e40d6;
  justify-content: center;
  background: rgba(131, 128, 249, 0.1);
  border-radius: 3px;
}





.btn{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  box-sizing: border-box;
  border-radius: 3px;
  width: 120px;
  height: 35px;
  cursor: pointer;
}

.btn.subir{
  color: #110A0A;
  background: #FFFFFF;
  border: 1px solid #C1C6CA;

}

.card-mesa{
  background: #F6F6F6;
}

.notass{
  font-size: 13px;
  font-weight: 600;
  color: #000000;
}

.btn.remover{
  color: #110A0A;
  background: #FFFFFF;
  border: 1px solid #C1C6CA;
}
.btn.guardar{
  color: white;
  background: #6E40D6;
  border: 1px solid #6E40D6;
  width: 150px;
}


.bg-image{
  background: #F9FAFD;
  border: 2px dashed #D5E4FC;
  box-sizing: border-box;
  font-size: 12px;
  color: #9A9A9A;
  font-family: Poppins;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;    
  flex-direction: column;
}





/* imgen hover+ */

.imghover {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 100%;
  background-size: cover;
}

.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.imghover:hover .image {
  opacity: 0.7;
}

.imghover:hover .middle {
  opacity: 1; 
 
}



