<main class="contnewusu fixed inset-0 overflow-hidden z-50"  >
  <div  class="absolute inset-y-0 right-0 max-w-full lg:max-w-xl  p-1 bg-white flex transition-transform duration-500 ease-in z-50" style="transition: 0.4s;" >
    <div class="relative w-full h-full overflow-y-auto overlay-scrollbar z-50">
      <div class="flex items-center w-full sticky top-0 bg-gray-50 px-2  justify-between py-2">
          <span class="sucursal-title">{{ body?.status }} Nuevo Usuario</span>
          <button (click)="closeFrm()" class="salir">
              <svg-icon src="assets/svg/close.svg"></svg-icon>
            </button>
        </div>
        <div class="px-4">
          <form [formGroup]="form" (ngSubmit)='saveUser()' class="  w-full">
            <section class="border-b-1 border-gray-200 py-3 ">
                <div class="flex space-x-2 items-center">
                  <svg-icon src="assets/img//configuraciones/usuario/userper.svg">  </svg-icon>
                  <div class="flex flex-col ml-3">
                      <span class="datos">Personal</span>
                      <span class="sucrusal-subttl">Seleccione un personal para crear un usuario</span>
                  </div>
                </div>
            </section>

                <!-- Asignar -->
                <div class=" w-full sm:mb-1 ">
                 
                  <label class="text-label pb-1">Asignar</label>
                  <mat-select placeholder="Seleccione" class="seclect py-2 mr-2 px-2 mb-1 uppercase " formControlName="empleadoids" multiple>
                    <mat-option  class="option-ch uppercase " (onSelectionChange)='EmployeeSelect($event,employee.idempleado)' *ngFor="let employee of employeeList" [value]="employee.idempleado">{{employee.nombrecompleto}}</mat-option>
                  </mat-select>
                   <!-- <small  class=" hidden invalid animated fadeIn">
               <svg-icon class="w-4 h-4 mr-1"  src="assets/svg/alertas.svg"></svg-icon>
               Campo requerido ! </small> -->
              </div> 

            <section class="border-b-1 border-gray-200 py-3 ">
              <div class="flex space-x-2 items-center">
                <svg-icon src="assets/img//configuraciones/usuario/userpass.svg">  </svg-icon>
                <div class="flex flex-col ml-3">
                    <span class="datos">Seguridad</span>
                    <span class="sucrusal-subttl">Establecer usuario y contraseña a este usuario.</span>
                </div>
              </div>
            </section>

            <div class="grid grid-cols-2 gap-x-3 gap-y-3 ml-4 px-4">
              <div class=" w-full sm:mb-1 ">
                <label class="text-label pb-1">Usuario</label>
                <input
                  type="text"
                  class=" py-2 seclect w-full"
                  placeholder="Escribe"
                  required
                  formControlName='usuario'
                >
                <span *ngIf="invalidUsuario"  class="errors" > Por favor rellene este campo. </span>
              </div>

              <div class=" w-full sm:mb-1 ">
              <label class="text-label pb-1">Contraseña</label>
              <input
                type="password"
                class=" py-2 seclect w-full"
                placeholder="Escribe"
                required
                formControlName='password'
              >
              <span *ngIf="invalidPassword" class="errors"> Por favor rellene este campo. </span>
              </div>

            </div>

            <section class="border-b-1 border-gray-200 py-3 ml-4 px-4 ">
              <div class="flex space-x-2 items-center">
                <div class="flex flex-col">
                    <span class="datos">Listado de permisos</span>
                    <span class="sucrusal-subttl">Active los modulos y asigne los permisos.</span>
                </div>
              </div>

              <div *ngFor="let item of formList" class="reser flex my-3 justify-between items-center  border  py-3  px-3 rounded-md ">
                <div class=" flex items-center">
                  <div><svg-icon src="assets/img/configuraciones/usuario/lisper.svg"></svg-icon></div>
                  <div class="pl-3 example-margin">{{item.formulario}}</div>
                </div>
                <div>
                  <mat-slide-toggle [(ngModel)]="item.estado"  [ngModelOptions]="{standalone: true}" class="example-margin">
                  </mat-slide-toggle>
                </div>
              </div>
            </section>

            <div class="flex justify-center space-x-4 sm:justify-end py-8">
                <!-- CANCELAR -->
                <button (click)="closeFrm()" type="button" class="cancelar">
                    <span class="ml-1">Cancelar</span>
                </button>
                <!-- GUARDAR -->
                <button type="submit"  class="guardar">
                    <span class="ml-1"> Guardar</span>
                </button>
            </div>
        </form>
        </div>
    </div>
  </div>
  <div class="absolute  inset-0 bg-gray-500 bg-opacity-75 transition-opacity" style="z-index: 3;" aria-hidden="true"></div>
</main>
