@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Manrope&family=Poppins:wght@600&display=swap");

.contnewusu{
  font-family: 'Poppins';
}

.sucursal-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #242424;
}

.salir{
  border: 1px solid gainsboro;
  padding: 2px;
  border-radius: 100%;
}

.datos{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
color: #242424;
}

.sucrusal-subttl{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 21px;
display: flex;
align-items: center;
color: #7B7D8A;

}

.seclect {
  background: #FFFFFF;
  border: 0.7px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #000000;
}


.text-label{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #636363;
}

.option-ch{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
   color: #000000;
}



.overlay-scrollbar::-webkit-scrollbar {
  width: 6px;
  height:6px;
}

.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2A3E4B;
  border-radius: 10rem;
  /* border: 1px solid#E7EFF3; */
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: #E7EFF3;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: #E7EFF3;
  border-radius: 10rem;
}

.guardar {
  width: 120px;
  height: 40px;
  background: #6E40D6;
  box-shadow: 0px 1px 8px rgb(109, 64, 214);
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  transition-duration: 2s;
  transition-property: background-color;

}

.cancelar {
  width: 120px;
  height: 40px;
  background: #ffffff;
  border: 0.6px solid #b8bcc6;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #263b50;
  transition-duration: 2s;
  transition-property: background-color;
}



.ts{
  color: #6E40D6;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
}

.btncalender{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  padding: 0.25rem;
  transition: ease-in;
  transition-duration: 300ms;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255,);
  border-radius: 9999px;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  height: 2.25rem;
  color: #263b50;
  }

  .btncalender:hover{
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129);
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235);
  color: #263b50;

  }

  .btncalender:focus{
  --tw-border-opacity: 1;
  border-color: rgba(16, 185, 129);
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235);
  color: #263b50;
  }


.reser{
  background-color: #FBFBFB;
  border-color: #F0F3F6;
}



.example-margin {
  font-family: Poppins;
  font-size: 12px;
}